@charset "utf-8";
/*##################################################  STAGE LIQUIDO  #####################################################################*/

#ws_confirm #body #ws_confirm_conteudo #form_dados input {
  position: relative;
  padding: 14px;
  width: 450px;
}
#ws_confirm #body #ws_confirm_conteudo #form_dados textarea {
  width: 443px;
  padding: 10px;
  height: 200px;
  margin-top: 8px;
  resize: none;
}
#ws_confirm #body #ws_confirm_conteudo #form_dados .cleditorMain {
  float: left;
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 443px!important;
  height: 265px!important;
}
#aviso_topo {
  position: relative;
  width: 900px;
  left: 50%;
  margin-left: -470px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  color: #d81900;
  font-size: 14px;
}
#topocadastro {
  font-weight: 600;
  font-size: 16px;
  height: 32px;
  padding-top: 11px;
  padding-left: 12px;
  color: #36568d;
  text-shadow: 1px 1px 1px white;
}
#botaoVoltaDomain {
  color: white;
  top: -6px;
  position: relative;
  float: right;
  right: 50%;
  height: 15px;
  padding: 8px 38px;
  margin-right: -494px;
}
#botaoCadastraDomain {
  color: white;
  top: -12px;
  position: relative;
  float: right;
  width: 61px;
  height: 15px;
  padding: 8px 18px;
  margin-right: 6px;
}
#cdastrodominio #cadastretit {
  top: 13px;
  position: relative;
  width: 350px;
}
::-webkit-input-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-moz-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
::-moz-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-ms-input-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-input[data-operaplaceholder] {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
#palco {
  position: relative;
  width: 1000px;
  float: left;
  left: 50%;
  margin-left: -500px;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 64px;
  margin-top: 10px;
}
#palco ul li {
  position: relative;
  float: left;
  margin: 0px;
  margin-left: 10px;
  border: solid 1px #bad1db;
  width: 977px;
  height: 50px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 41%;
}
#palco ul li spam.desc_item {
  position: absolute;
  left: 55px;
  top: 26px;
}
#palco ul li spam.titulo_item {
  position: absolute;
  margin-left: 56px;
  top: 7px;
  font-weight: 600;
  font-size: 18px;
}
#palco ul li spam img {
  cursor: pointer;
  margin: 5px;
}
#palco ul li spam img.mover_item {
  cursor: move;
  margin: 5px;
}
#palco ul li .combo {
  position: absolute;
  float: right;
  right: 0px;
  width: 160px;
  top: 0px;
  margin: 0px;
}
#palco ul li .combo .detalhes_img {
  position: absolute;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  height: 25px;
  top: 6px;
  right: 7px;
}
#topo_upload {
  padding: 10px;
  margin-top: -2px;
}
#topo_upload #progress_combo {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  padding: 10px;
  width: 698px;
  height: 17px;
}
#topo_upload #bt_Add_Galeria {
  position: relative;
  width: 139px;
  padding: 10px 220px;
  left: 50%;
  margin-left: -330px;
}
