@charset "utf-8";
/*##################################################  STAGE LIQUIDO  #####################################################################*/

body{
	margin:0!important; 
	padding:0!important;
	background: #aaffe0;
	background: -moz-radial-gradient(center, ellipse cover,  #aaffe0 0%, #2490b7 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #aaffe0 0%,#2490b7 100%);
	background: radial-gradient(ellipse at center,  #aaffe0 0%,#2490b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaffe0', endColorstr='#2490b7',GradientType=1 );
}
html, body, #container { 
	height: 100%;
	min-width: 480px;
	overflow: hidden;
}
body > #container { 
height: auto;
min-height: 100%;
margin-bottom: -60px;/*footer*/
overflow:hidden;
}
#container{padding-bottom: -60px;/*footer*/}

#footer {
position: relative;
clear: both;
margin-top: -60px;
height: 60px;
}
#header{
width: 100%;
min-width: 900px;
height: 150px;
}
#conteudo{
	margin-bottom: 60px;/*footer*/
}
#carregando{
position: absolute;
width: 100%;
height: 100%;
z-index: 10;
}

#carregando #bg{
width: 100%;
height: 100%;
background-color: #000;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}