<!-- BEGIN BLOCK_CENTRAL_BKP -->
<script type="text/javascript">
include_css("{ROOT_WEBSHEEP}admin/app/templates/css/websheep/ws-modules/ws-model-tool/templates.min.css","css_mod","All");
</script>
	<div id="topo_upload" class="bg01">
		<form id="UploadBKP" style="display:none" action="{ROOT_WEBSHEEP}admin/app/core/ws-upload-files.php" method="post" enctype="multipart/form-data" name="formUpload">
			<input name="file" id="myfile" type="file" style="display:none" />
			<input type="hidden" name="type" 			value="uploadBKP" />
			<input type="hidden" name="newName" 		value="uploadBKP.zip" />
			<button type="submit" id="enviar_arquivos" style="dispaly:none;"></button>
		</form>
	</div>



<div id="topoModulo" class="TitTop bg05 w1b">
	<div class="comboTitleBot">
		{centralBkp_title}
		<div class="botTool create	bg06 w1"><i class="fa fa-file-archive-o"></i>  {centralBkp_createBackup}</div>
		<div class="botTool upload	bg06 w1"><i class=" fa fa-cloud-upload" ></i>  {centralBkp_uploadBKP}</div>
		<div class="botTool import	bg06 w1"><i class="fa fa-download"></i>  {centralBkp_importBackup}</div>
	</div>
</div>
	<div id="palco" class="palco_01" >
	<ul class="listagem">
			<!-- BEGIN BLOCK_TEMPLATES -->
			<li class="bg01" data-file="{dataFILE}">
				<div class="pluginItem {ClasseThumb}">
					<div class="column-primary ">
						<!-- BEGIN avatarTemplate -->
							<img src="{newSplashScreen}" height="80" width="80px" style="position: relative;float: left;"/>
						<!-- END avatarTemplate -->
						<div class="plugin-title w1">{titulo}</div>
						<div class="plugin-description w2" >{description}<br>{ASHACCESS}</div>
						<div class="botao exportar"><i class="fa fa-share-alt-square"></i>  	{centralBkp_exportBackup}</div>
						<div class="botao aplicar"><i class="fa fa-rocket"></i>  	{label}</div>
						<div class="botao download"><i class="fa fa-download"></i>  {centralBkp_download}</div>
					</div>
				</div>
			</li>
			<!-- END BLOCK_TEMPLATES -->
		</ul>
	</div>
<div class="c"></div>
</div>
<script type="text/javascript">
$(function(){
	$('.popup').unbind('click tap press').bind('click tap press', function(e){
				e.preventDefault();
				var dataFile = $(this).data('href');
				functions({
					funcao:"loadInfosPlugin",
					vars:"dataFile="+dataFile,
					patch:"{PATH}",
					Sucess:function(e){
						confirma({
							conteudo:"<div class='bodyInfosPlugin'>"+e+"</div>",
							width:600,
							bot1:0,
							bot2:0,
							drag:0,
							botclose:1,
							posFn:function(){
								$("#ws_confirm #body").css({'padding-bottom':20});
							},
							newFun:function(){}
						})
					}
				})
				return false;
	})

	$('.inner').unbind('click tap press').bind('click tap press', function(e){
			e.preventDefault();
			var dataFile = $(this).data('href');
			confirma({
			width:"auto",
			conteudo:"  {centralBkp_loading}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top: 68px;background-image:url(\"{ROOT_WEBSHEEP}admin/app/templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>",
			drag:false,
			posFn:function(){
				$("#ws_confirm").css("line-height","20px");
				$( "#conteudo" ).load( './plugins/'+dataFile , function( response, status, xhr ) {
					$("#ws_confirm").remove();
					$("#body").removeClass("scrollhidden");
					$("*").removeClass("blur");
				});
			},
			bot1:0,
			bot2:0
		})
		return false;
	})
	$("#UploadBKP").ajaxForm({
		beforeSend: function(xhr) {
			out("beforeSend")
			$('.tapa_upload').fadeIn('fast');
			// $('#cancelBtn').click(xhr.abort);
		},
		uploadProgress: function(event, position, total, percentComplete, myForm) {
			out(percentComplete)
			if(percentComplete >= 99) {
				$('.tapa_upload').find('.pct').html("Processando BKP").css({"left":percentComplete + "%"});
			} else {
				$('.tapa_upload').find('.pct').html(percentComplete + "%").css({"left":percentComplete + "%"});
			}
			$('.tapa_upload').find('.bar').animate({
				width: percentComplete + "%"
			}, 50);
		},
		complete: function(e) {
			out("complete")
			out(e)
			var response = $.parseJSON(e.responseText);
			if(response.status=="sucesso"){
				$( "#conteudo" ).load( './{PATH}/ws-central-bkps.php' , function( response, status, xhr ) {
					$("#ws_confirm").remove();
					$("#body").removeClass("scrollhidden");
					$("*").removeClass("blur");
					$('.tapa_upload').fadeOut('fast');
				});						
			}
		}
	})
	$("#UploadBKP #myfile").change(function() {$("#UploadBKP").submit();})
	$('.botTool.import').unbind('click tap press').bind('click tap press', function(e){
		e.preventDefault();
		ws.confirm({
			conteudo:'<div id="importTemplateTitle" class="w1" style="font-size: 22px;padding: 0px;">{centralBkp_importModal_title}:</div>'
					+'<input id="importTemplateInput" class="inputText" style="padding: 10px 20px;width: calc(100% - 10px);margin-top: 20px;"></input>',
			close:true,
			bots:[{
						label		: "{centralBkp_importModal_bots_import}",
						class		: "",
						id			: "bot_importar",
						style 		: "",
						css 		: {"color":"#FFF"},
						ErrorCheck	: function() {
							$.ajax({
								type: "POST",
								url: "{PATH}/functions.php",
								data: {
									"function":	"importTemplate",
									"urlFile":	$('#importTemplateInput').val(),
								},
								beforeSend:function(){
									$("#bot_importar,#bot_cancelar,#importTemplateInput").hide();
									$("#importTemplateTitle").html("{centralBkp_importing}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top:62px;background-image:url(\"{ROOT_WEBSHEEP}admin/app/templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>");
								},
								cache: false,
							}).done(function(e) {
								out("Retorno:")
								out(e)
								out("-----------------")
								if(e=='0'){
									 $("#importTemplateTitle").html("<span style='color:#FF0000'>{centralBkp_invalidLink}<span>");
									 $("#bot_importar,#bot_cancelar,#importTemplateInput").show();
								}else{
									$("#ws_confirm").remove();
									$("*").removeClass("blur");
									$("#conteudo").load("{PATH}/ws-central-bkps.php");
								}
							})
						},
						Check 		: function() {return false}
				},{
						label		: "{centralBkp_importModal_bots_cancel}",
						id			: "bot_cancelar",
						class		: "",
						style 		: "",
						css 		: {
							"color":"#838383",
							"font-weight":"700",
							"background-color":"#bbbbbb"
						},
						ErrorCheck	: function() {},
						Check 		: function() {return true},
						action		: function(){},
				}]
		})
		return false;
	})
	$('.botTool.upload').unbind('click tap press').bind('click tap press', function(e){
		e.preventDefault();
		$("#UploadBKP #myfile").click();
		return false;
	})


	$('.botTool.create').unbind('click tap press').bind('click tap press', function(e){
		e.preventDefault();
		confirma({
			width:600,
			conteudo:"<div style='float:left;padding:0 20px;text-align: left;line-height: 20px;margin-bottom: 0px;width: calc(100% - 40px);'>\
			<form id='uploadfiles' action='./{PATH}/upload_avatar_bkp.php' method='post' enctype='multipart/form-data' name='formUpload'>\
				<input type='file' name='arquivo' id='avatarbkp' style='display:none;'>\
			</form>\
			<div class='w1'style='font-size: 27px;font-weight:bold;width:100%;text-align: center;margin-bottom: 10px;'>{centralBkp_creatingatemplate}</div>\
			<div class='c'></div>\
			<div class='thumbmail' style='border: solid 5px #3f6daa;background-color: #FFF;width: 200px;height:200px;position: relative;float: left;'>\
				<div class='combo_upload' style='display: none; opacity: 1;'>\
					<div class='pc' legenda='{centralBkp_mycomputer}'>	<img src='{ROOT_WEBSHEEP}admin/app/templates/img/websheep/up_m.png'></div>\
					<div class='bb' legenda='{centralBkp_library}'>	<img src='{ROOT_WEBSHEEP}admin/app/templates/img/websheep/folder_m.png'></div>\
					<div class='excl' legenda='{centralBkp_delete}'>		<img src='{ROOT_WEBSHEEP}admin/app/templates/img/websheep/delete.png' style='width:25px;margin-top:-1px;'></div>\
				</div>\
			<img class='avatarBKP' src='{ws_rootPath}ws-img/200/200/null' data-teste='{ws_rootPath}'></div>\
			<input type='hidden' class='avatar' >\
			<div class='w1' style='position: relative; padding: 10px; margin-left: 10px; width: 100%; max-width: 300px; float: left;padding-top:0px;'>{centralBkp_placeholderTitle}:</div>\
			<input class='w1 inputText titleTemplate' style='position:relative;padding: 10px;margin-left: 10px;width: 100%;max-width: 330px;'>\
			<div class='w1' style='position: relative; padding: 10px; margin-left: 10px; width: 100%; max-width: 300px; float: left;'>{centralBkp_descrition}:</div>\
			<textarea  class='w1 inputText contentTemplate' style='position:relative;padding: 10px;margin-left: 10px;width: 100%;max-width: 330px;float: left;margin-bottom:10px;height: 100px;'></textarea>\
			\</div>",
			drag:false,
			posFn:function(){
				//##################################################################
				// FUNÇÃO UPLOAD
				//##################################################################
					$("#uploadfiles").ajaxForm({
						beforeSend: function(xhr) {
							$('.tapa_upload').show("fade", {}, 'fast');
						},
						uploadProgress: function(event, position, total, percentComplete, myForm) {
							$('.tapa_upload').find('.pct').html(percentComplete + "%").css({"left":percentComplete + "%"});
							$('.tapa_upload').find('.bar').animate({
								width: percentComplete + "%"
							}, 50);
						},
						complete: function(e) {
							$('.avatar').val(e.responseText)			
							$('.avatarBKP').attr('src',e.responseText)			
							$('.tapa_upload').find('.bar').animate({
								width: 0
							}, 500, function() {
								$('.tapa_upload').hide("fade", {}, 'fast');
								$("#UploadFile").trigger('reset');
							});
						}
					})
				//##################################################################
				// FUNÇÃO OVER DOS BOTÕES DO AVATAR
				//##################################################################
				$(document).off("mouseenter").off("mouseleave");
				$(document).on("mouseenter", ".thumbmail", function() {
					$(this).find('.combo_upload').stop().fadeIn();
				}).on("mouseleave", ".thumbmail", function() {
				 	$(this).find('.combo_upload').stop().fadeOut();
				});
				//##################################################################
				// SE FOR DA BIBLIOTECA RETORNA O NOME DA IMAGEM NO INPUTTEXT
				//##################################################################
					$(".thumbmail .combo_upload .bb").unbind('click').click(function() {
						abreBiblioteca({
							multiple: 0,
							onSelect: function(a) {
								$('.avatar').val(ws.rootPath+'ws-img/200/200/100/'+a)
								$('.avatarBKP').attr('src',ws.rootPath+'ws-img/200/200/100/'+a)			
							}
						})
					})
				//##################################################################
				// SE FOR DO PC RETORNA O NOME DA IMAGEM NO INPUTTEXT
				//##################################################################
					$(".thumbmail .combo_upload .pc").unbind('click').click(function() {$("#avatarbkp").click();})
					$("#avatarbkp").change(function() {
						$("#uploadfiles").submit();
					})
			},
			newFun:function(){
						$.ajax({
						  type: "POST",
						  url: "{ROOT_WEBSHEEP}admin/app/ws-modules/ws-tools/functions.php",
						  beforeSend:function(){
						  	ws.preload.open({string:"{centralBkp_creating}"});
						  },
						  cache: false,
						  data: {
						  	"function":	"createTheme",
						  	"avatar":	$('.avatar').val(),
						  	"title":	$('.titleTemplate').val(),
						  	"content":	$('.contentTemplate').val(),
						  },
						}).done(function(e) {
							 ws.preload.close()
							$("#ws_confirm").css("line-height","20px");
							$( "#conteudo" ).load('{ROOT_WEBSHEEP}admin/app/ws-modules/ws-model-tool/ws-central-bkps.php' , function( response, status, xhr ) {
								$("#ws_confirm").remove();
								$("#body").removeClass("scrollhidden");
								$("*").removeClass("blur");
							});
						})
			},
			bot1:'{centralBkp_export}',
			bot2:'{centralBkp_cancel}'
		})
		return false;
	})

	$('.pluginItem .botao.exportar').unbind('click tap press').bind('click tap press', function(e){
			e.preventDefault();
			
			var preload 	= '<div class="preloaderupdate" style="left: 50%;margin-left: -15px;position: absolute;width: 30px;height: 18px;top: 13px;background-image:url({ROOT_WEBSHEEP}admin/app/templates/img/websheep/loader_thumb.gif);background-repeat:no-repeat;background-position: top center;"></div>';
			var Filename 	= $(this).parent().parent().parent().data('file');
			var content 	= '<div  class="w1" id="titleModal" style="font-size: 22px;margin-bottom: 10px;margin-left: 10px;font-weight: 600;">Gerando link válido:</div>'
							+ '<div id="getLink"><div id="ashString"></div>O link deverá expirar em <input value="5" min="0" step="5" max="60" class="inputText" id="ashUser" type="number" style="padding: 10px 3px;width: 50px;"> minutos</div>';
 

			ws.confirm({
				conteudo: content,
				width 	: 600,
				bots:[{
							id			: "id_gerar_code",
							label		: "{centralBkp_exportModal_bots_createCode}",
							class		: "",
							style 		: "",
							css 		: {"color":"#FFF"},
							ErrorCheck	: function() {
									var hour = $("#ashUser").val();

									$.ajax({
										type: "POST",
										url: "{PATH}/functions.php",
										data: {
											"function"		:	"createAuthToken",
											"expireToken"	:	hour,
											"Filename"		:	Filename
										},
										beforeSend:function(){
											$("#titleModal").hide();
											$("#getLink").html(preload)
										},
										cache: false,
									}).done(function(e){
										$("#titleModal").html('{centralBkp_exportModal_title}').show();
										$("#id_gerar_code").hide();
										$("#id_cancel").css({width:'calc(100% - 6px)'}).text("{centralBkp_exportModal_bots_copyCode}");
										$("#getLink")
										.addClass("inputText")
										.attr('style',"padding:10px;width:calc(100% - 50px);left:50%;position:relative;transform:translateX(-50%);")
										.html(e)
										.bind("click tap press",function(){
											ws.set.clipboard($(this).text())
											$("#getLink").selectText();
											ws.alert.top({mensagem:"{centralBkp_exportModal_sucessCopy}",type:3});
										});
									})
							},
							Check 		: function() {return false},
							action		: function(){},
					},
					{
							id			: "id_cancel",
							label		: "{centralBkp_exportModal_bots_cancel}",
							class		: "",
							style 		: "",
							css 		: {"color":"#FFF"},
							ErrorCheck	: function() {},
							Check 		: function() {return true},
							action		: function(){},
					}]
			})





			return false;
	})
	$('.pluginItem .botao.download').unbind('click tap press').bind('click tap press', function(e){
			e.preventDefault();
			$(".tapa_upload").fadeIn('fast');
			var Filename = "/ws-bkp/"+$(this).parent().parent().parent().data('file');
			ws.downloadFile({
				file:Filename,
				finish: function(e) {$(".tapa_upload").hide();},
				progress: function(e) {
					$(".tapa_upload .bar").css({"width":e+"%"});
					$(".tapa_upload .pct").css({"left":e+"%"}).text(e+"%");
				}
			})
			return false;
	})


	$('.pluginItem .botao.aplicar').unbind('click tap press').bind('click tap press', function(e){
			e.preventDefault();
			var dataFile = $(this).parent().parent().parent().data('file');
			confirma({
			width:550,
			conteudo:"<div style='float:left;height:300px;padding:0 20px;text-align: left;line-height: 20px;margin-bottom: 0;'><strong>{centralBkp_restoreModal_aboutTheFiles}</strong> <br><br> <label><input type='radio' name='typebkp' value='full'/>{centralBkp_restoreModal_restore100}</label><br><label><input type='radio' name='typebkp' value='replace'/>{centralBkp_restoreModal_applyReplace}</label><br> <label><input type='radio' name='typebkp' value='jump'/>{centralBkp_restoreModal_applyIgnore}</label><br><label><input type='radio' name='typebkp' value='tools'/>{centralBkp_restoreModal_tools}</label><br><br><strong>{centralBkp_restoreModal_dataBase}</strong><br><br><label><input type='radio' name='dataBase' value='none'/>{centralBkp_restoreModal_dontTouchDataBase}</label><br><label><input type='radio' name='dataBase' value='basic'/>{centralBkp_restoreModal_basicStructure}</label><br><label><input type='radio' name='dataBase' value='tools'/> Estrutura + Ferramentas instaladas</label> <br> <label><input type='radio' name='dataBase' value='content'/> Estrutura + Ferramentas + Conteúdo preenchido</label><br><br><span style='color: #d60000; font-weight: 700;'>{centralBkp_restoreModal_rememberIf}</span></div>",
			drag:false,
			posFn:function(){
				$("input[name='typebkp'][value='full']").click();
				$("input[name='dataBase'][value='none']").click();
			},
			ErrorCheck:function(){
				TopAlert({mensagem: "{centralBkp_error}", clickclose: true, height: 20, timer: 3000, type: 2, })
			},
			Check:function(){
				if(!$("input[name='typebkp']:checked").val()){return false; }else{return true;}
			},
			newFun:function(){
				var FileOption		= $("input[name='typebkp']:checked").val();
				var DataBaseOption	= $("input[name='dataBase']:checked").val();
				$.ajax({
				  type: "POST",
				  url: "{ROOT_WEBSHEEP}admin/app/ws-modules/ws-tools/functions.php",
				  beforeSend:function(){ws.preload.open({string:'{centralBkp_restoration}'})},
				  cache: false,
				  data: {
				  	"function"	:	"apliqueTheme",
				  	"dataFile"	:	dataFile,
				  	"type"		:	FileOption,
				  	"dataBase"	: 	DataBaseOption,
				  },
				}).done(function(e) {
				  	ws.preload.close()
					 if(FileOption=='tools'){
						window.bkp_tool = e.trim();
						$( "#conteudo" ).load('{ROOT_WEBSHEEP}admin/app/ws-modules/ws-tools/tools.php?install=true' , function( response, status, xhr ) {
						});
					 } else if(e.trim()=='1'){
						ws.confirm({
							conteudo	: 	'<strong>{centralBkp_update}</strong><br>{centralBkp_refresh}',
							bot1		: 	"{centralBkp_recharge}",
							idModal		: 	'refreshFolder',
							bot2		: 	0,
							drag		: 	0,
							botclose	: 	0,
							posFn		: 	function() {},
							newFun		: 	function() {window.location.reload()}
						})
					}
				})
			},
			bot1:'{centralBkp_restore}',
			bot2:'{centralBkp_cancel}'
		})
		return false;
	});
});
	setTimeout(function(){
		$('#container').perfectScrollbar('destroy')
		$('#container').animate({scrollTop: 0}, 200);
	},200);

</script>

<!-- END BLOCK_CENTRAL_BKP -->

