<!-- BEGIN MENU_DASHBOARD -->
	<ul class="reffer_menu" id="scrollnotify">

		<!-- BEGIN NEW_VERSION -->
		<li class="newVersionSpanLi">
			<img src="{ROOT_WEBSHEEP}admin/app/templates/img/websheep/star.png">
			<span class="newVersionSpan" style="color: #FFF;">{label_newversion}<span>
		</li>
		<script type="text/javascript">
		$(".newVersionSpanLi").click(function(){
			ws.confirm({
				conteudo:"<h1>Atualização WebSheep {newVersion}</h1><br>{newVersionContent}",
				divBlur: "#menu_tools,#container,#header",
						bots:[{
							label: "Atualizar",
							css         : {"color":"#FFF"},
							style       : "font-weight:bolder;",
							ErrorCheck  : function() {},
							Check       : function() {return true},
							action      : function(){
								window.open("/ws-install",'_self');
							}
						 },
						{
							label      : "Ver no GitHub",
							class       :"botao3",
							css         : {"color":"#555"},
							style       : "font-weight:600;",
							ErrorCheck  : function() {},
							Check       : function() {return true},
							action      : function(){
								window.open("https://github.com/websheep/cms",'_blank');
							}
					  },
						{
							label      : "Não obrigado",
							class       :"botao2",
							css         : {"color":"#FFF"},
							style       : "font-weight:600;",
							ErrorCheck  : function() {},
							Check       : function() {return true},
							action      : function(){console.log("CANCELAR")}
					  }

					  ]
			})
		})
		</script>
		<div class="container"></div>
		<!-- END NEW_VERSION -->

		<!-- BEGIN ADMIN -->
				<li data-get="" class="ferramenta_especial"	 data-title-loading="{label_paginas}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-tools/paginas.php">
					<span class="icon fa-file"></span>{label_paginas}
				</li>
				<div class="container"></div>
				<li class="path">
					<span class="icon icon-link"></span>{label_links}
				</li>
				<div class="container">
					<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_url_includes}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-includes/index.php">
						<span class="icon fa-link"></span>{label_url_includes}
					</li>
					<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_url_htaccess}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-url-friendly/index.php">
						<span class="icon icon-anchor"></span>{label_url_htaccess}
					</li>
					<li data-get="type=css" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_include_css}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-includes-js-css/index.php">
						<span class="icon fa fa-css3"></span>{label_include_css}
					</li>
					<li data-get="type=js" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_include_js}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-includes-js-css/index.php">
						<span class="icon fa fa-jsfiddle"></span>{label_include_js}
					</li>
				</div>

				<li  class="path" data-get="" data-plugin="0"  data-title-loading="{webmaster}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-webmaster/index.php">
					<span class="icon icon-eyeglasses"></span>{webmaster}
				</li>
				<div class="container">
					<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_editor}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-webmaster/index.php">
						<span class="icon fa-code"></span>{label_editor}
					</li>
					<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{CodeVisualEditor}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-studioweb/index.php">
						<span class="icon  fa fa-object-group"></span>{CodeVisualEditor}
					</li>
				</div>
				<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_Conf_Painel}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-domain/index.php">
					<span class="icon fa-dashboard"></span>{label_Conf_Painel}
				</li>

		<!-- END ADMIN -->

		<li class="path">
			<span class="icon icon-wrench"></span>{label_ferramentas}
		</li>
		<div class="container">
			<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_gerenciar_ferramentas}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-tools/tools.php">
				<span class="fa fa-cog" style="margin-right: 10px;"></span>{label_gerenciar_ferramentas}
			</li>


			<!-- BEGIN PATH_TOOL -->
			<li class="path innerOpt">
				<span class="icon fa fa-folder"></span>{label_path}
			</li>
			<div class="container">

					<!-- BEGIN INNER_TOOL -->
					<li class="ferramenta_especial innerOpt tool" data-plugin="0"  data-title-loading="{LABEL}" data-ferramenta="{ID}" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-model-tool/index.php">
						<span class="icon fa-chevron-right"></span>{LABEL}
					</li>
					<!-- END INNER_TOOL -->			

			</div>
			<!-- END PATH_TOOL -->


			<!-- BEGIN TOOL -->
			<li class="ferramenta_especial innerOpt tool " data-plugin="0"  data-title-loading="{LABEL}" data-ferramenta="{ID}" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-model-tool/index.php">
				<span class="icon fa-chevron-right"></span>{LABEL}
			</li>
			<!-- END TOOL -->			
		</div>





		<li class="path">
			<span class="icon fa-plug"></span>{label_plugin}
		</li>
		<div class="container">
			<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_gerenciar_plugin}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-model-tool/plugins.php"> <span class="icon fa-cogs"></span>{label_gerenciar_plugin}</li>
			<li class="path"  data-title-loading="{label_plugin_instalado}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-model-tool/plugins.php"> 
				<span class="icon fa-puzzle-piece"></span>{label_plugin_instalado}
			</li>
			<div class="container">
				<!-- BEGIN PLUGIN -->
				<li class="ferramenta_especial innerOpt tool" data-plugin="1" data-w="{W}" data-h="{H}" data-type="{TYPE}"  data-title-loading="{LABEL}" data-ferramenta="0" href="{PATH}"><img src="{ICON}" />{LABEL}</li>
				<!-- END PLUGIN -->

			</div>
		</div>
		<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_Download_Senha}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-password-protected-files/index.php">
			<span class="icon fa fa-key"></span>{label_Download_Senha}
		</li>
		<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_Cadastros}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-register-leads/index.php">
			<span class="icon fa-envelope"></span>{label_Cadastros}
		</li>
		<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_BKP}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-model-tool/ws-central-bkps.php"> 
			<span class="icon fa fa-history"></span>{label_BKP}
		</li>
		<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_Usuarios}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-users/index.php">
			<span class="icon fa-users"></span>{label_Usuarios}
		</li>
		<li class="ferramenta_especial 	biblioteca" data-plugin="0"  data-title-loading="{label_Biblioteca}" data-ferramenta="0" data-path="">
			<span class="icon fa-picture-o"></span>{label_Biblioteca}
		</li>
		<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{label_hd}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-hd-management/index.php">
			<span class="icon fa-pie-chart"></span>{label_hd}
		</li>
		<li data-get="" class="ferramenta_especial" data-plugin="0"  data-title-loading="{logRecords}" data-ferramenta="0" data-path="{ROOT_WEBSHEEP}admin/app/ws-modules/ws-logs/index.php">
			<span class="icon fa fa-bullseye"></span>{logRecords}
		</li>
<!-- 
		<li data-get="" class="ferramenta_especial reportBugs" data-plugin="0"  data-title-loading="{label_reportBugs}" data-ferramenta="0">
			<span class="icon fa fa-bug"></span>{label_reportBugs}
		</li>
		<li data-get="" class="ferramenta_especial updateRestore" data-plugin="0"  data-title-loading="{label_update}" data-ferramenta="iframe" data-path="{ROOT_WEBSHEEP}ws-update/ws-install.php?ASH_UPDATE={ASH_UPDATE}">
			<span class="icon icon-rocket"></span>{label_update}
		</li>
 -->
		<li id="clicklogout" 
			data-modal-logout-loading="{label_logout_loading}" 
			data-modal-logout-content="{dashboard_modal_logOut_content}" 
			data-modal-logout-bot1="{dashboard_modal_logOut_bot1}" 
			data-modal-logout-bot2="{dashboard_modal_logOut_bot2}">
			<span class="icon fa-sign-out"></span>{label_logout}
		</li>
	</ul>
<!-- END MENU_DASHBOARD -->