@charset "utf-8";
/*##################################################  STAGE LIQUIDO  #####################################################################*/
#topocadastro{
		font-weight: 600;
		font-size: 16px;
		height: 32px;
		padding-top: 11px;
		padding-left: 12px;
		color: #36568D;
		text-shadow: 1px 1px 1px #fff;
}	
#cdastrodominio{
		position: relative;
		left: 50%;
		margin-left: -490px;
		right: 160px;
		height: 40px;
		width: 980px;
		top: -10px;
}
#cdastrodominio #domain{
		position: relative;
		top: 0px;
		margin-top: -11px;
		float: right;
		height: 30;
		width: 568px;
		padding: 10px;
		padding-top: 13px;
		right: 0px;
		margin-right: 6px;
		color: #5D93B8;
}
#botaoVoltaDomain {
		color: #FFFFFF;
		top: -6px;
		position: relative;
		float: right;
		right: 50%;
		height: 15px;
		padding: 8px 38px;
		margin-right: -494px;

}
#botaoCadastraDomain{
		color: #FFFFFF;
		top: -12px;
		position: relative;
		float: right;
		width: 61px;
		height: 15px;
		padding: 8px 18px;
		margin-right: 6px;
}
#cdastrodominio #cadastretit{
		top: 13px;
		position: relative;
		width: 350px;
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: "Myriad Pro Light";
    color:rgb(83, 139, 190);
	font-style:oblique;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;
}
:-input[data-operaplaceholder] {
	font-family: "Myriad Pro Light";
	color: rgb(83, 139, 190);
	font-style:oblique;
}

#palco{
		position: relative;
		width: 1000px;
		float: left;
		left: 50%;
		margin-left: -500px;
		top: 0px;
		padding-top: 10px;
		padding-bottom: 46px;
		margin-bottom: 64px;
		margin-top: 10px;
}

/*DOMÍNIO*/
#palco .dominiobase{
		position: relative;
		height: 50px;
		margin-bottom: 3px;
		width: 980px;
		margin-left: 9px;
}
#palco .dominiobase .domain{
		font-family:"Myriad Pro Light";
		color: #6D8DAF;
		font-size: 24px;
		position: relative;
		top: 14px;
		font-weight: 100;
		left: 18px;
	}
#palco .dominiobase spam{
		color: #9AB0C9;
		font-size: 14px;
		font-weight: 100;
		left: 18px;
}

/*DOMÍNIO*/
#palco .dominiobase{
		position: relative;
		height: 50px;
		margin-bottom: 3px;
		width: 980px;
		margin-left: 9px;
}
#palco .dominiobase .domain{
		width: 800px;
		font-family:"Myriad Pro Light";
		color: #6D8DAF;
		font-size: 24px;
		position: relative;
		top: 14px;
		font-weight: 100;
		left: 18px;
	}
#palco .dominiobase spam{
		color: #9AB0C9;
		font-size: 14px;
		font-weight: 100;
		left: 18px;
}
#palco .dominiobase .icons{
		position: absolute;
		right: 0px;
		top: 0px;
		height: 50px;
		width: 138px;
}
#palco .dominiobase .icons .user{
		position: relative;
		float: left;
		left: 0px;
		background-image: url(./../img/icons_domain.png);
		width: 47px;
		height: 34px;
		top: 9px;
}
#palco .dominiobase .icons .ferramenta{
		position: relative;
		float: left;
		left: 1px;
		background-image: url(./../img/icons_domain.png);
		background-position-x: -50px;
		background-position-y: -1px;
		width: 41px;
		height: 34px;
		top: 9px;
}
#palco .dominiobase .icons .detalhes{
		position: relative;
		float: left;
		left: 2px;
		background-image: url(./../img/icons_domain.png);
		background-position-x: -96px;
		background-position-y: -1px;
		width: 41px;
		height: 34px;
		top: 9px;
}

/*##################################################################*/
/*DOMÍNIO*/
#palco .dominiobaseAlert{
	
		position: relative;
		height: 50px;
		margin-bottom: 3px;
		width: 980px;
		margin-left: 9px;
		margin-top: 10px;
}
#palco .dominiobaseAlert .domain{
		width: 800px;
		font-family:"Myriad Pro Light";
		color: #FF9900;
		font-size: 24px;
		position: relative;
		top: 14px;
		font-weight: 100;
		left: 18px;
	}
#palco .dominiobaseAlert spam{
		color: #FAC34E;
		font-size: 14px;
		font-weight: 100;
		left: 18px;
}
#palco .dominiobaseAlert .icons{
		position: absolute;
		right: 0px;
		top: 0px;
		height: 50px;
		width: 138px;
}
#palco .dominiobaseAlert .icons .user{
		position: relative;
		float: left;
		left: 0px;
		background-image: url(./../img/icons_domain.png);
		background-position-y: 68px;
		width: 47px;
		height: 34px;
		top: 9px;
}
#palco .dominiobaseAlert .icons .ferramenta{
		position: relative;
		float: left;
		left: 1px;
		background-image: url(./../img/icons_domain.png);
		background-position-y: 68px;
		background-position-x: -50px;
		width: 41px;
		height: 34px;
		top: 9px;
}
#palco .dominiobaseAlert .icons .detalhes{
		position: relative;
		float: left;
		left: 2px;
		background-image: url(./../img/icons_domain.png);
		background-position-y: 68px;
		background-position-x: -96px;
		width: 41px;
		height: 34px;
		top: 9px;
}

/*##################################################################*/

/*DOMÍNIO*/
#palco .dominiobaseDisabled{
	
		position: relative;
		height: 50px;
		margin-bottom: 3px;
		width: 980px;
		margin-left: 9px;
}
#palco .dominiobaseDisabled .domain{
		width: 800px;
		font-family: "Myriad Pro Light";
		color: #C00000;
		font-size: 24px;
		position: relative;
		top: 14px;
		font-weight: 100;
		left: 18px;
		text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.47);
	}
#palco .dominiobaseDisabled spam{
		color: #DD5E5E;
		font-size: 14px;
		font-weight: 100;
		left: 18px;
}
#palco .dominiobaseDisabled .icons{
		position: absolute;
		right: 0px;
		top: 0px;
		height: 50px;
		width: 138px;
}
#palco .dominiobaseDisabled .icons .user{
		position: relative;
		float: left;
		left: 0px;
		background-image: url(./../img/icons_domain.png);
		background-position-y: -73px;
		width: 47px;
		height: 34px;
		top: 9px;
}
#palco .dominiobaseDisabled .icons .ferramenta{
		position: relative;
		float: left;
		left: 1px;
		background-image: url(./../img/icons_domain.png);
		background-position-y: -73px;
		background-position-x: -50px;
		width: 41px;
		height: 34px;
		top: 9px;
}
#palco .dominiobaseDisabled .icons .detalhes{
		position: relative;
		float: left;
		left: 2px;
		background-image: url(./../img/icons_domain.png);
		background-position-y: -73px;
		background-position-x: -96px;
		width: 41px;
		height: 34px;
		top: 9px;
}


#palco .dominiobaseAlert .icons .user:hover, #palco .dominiobaseAlert .icons .ferramenta:hover, #palco .dominiobaseAlert .icons .detalhes:hover,
#palco .dominiobaseDisabled .icons .user:hover, #palco .dominiobaseDisabled .icons .ferramenta:hover, #palco .dominiobaseDisabled .icons .detalhes:hover,
#palco .dominiobase .icons .user:hover, #palco .dominiobase .icons .ferramenta:hover, #palco .dominiobase .icons .detalhes:hover{
cursor:pointer;
opacity: 0.75;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 75);
filter: alpha(opacity = 75);
}
#palco .nodomain{
		font-size: 30px;
		text-align: center;
		padding-top: 10px;
		height: 40px;
	
	}
	
#detalhes_domain .id{margin-left: 10px;}
#detalhes_domain .dom{margin-left: 60px;}
#detalhes_domain .ip{margin-left: 460px;}
#detalhes_domain .plano{margin-left: 200px;}

#detalhes_domain .criacao{margin-left: 10px;}
#detalhes_domain .url{margin-left: 57px;}
#detalhes_domain .Pertence{margin-left: 485px;}

#detalhes_domain .Valor{margin-left: 10px;}
#detalhes_domain .Prestacao{margin-left: 52px;}
#detalhes_domain .Formas{margin-left: 8px;}

#detalhes_domain .Fee{margin-left: 90px;}
#detalhes_domain .FeeVencimento{margin-left: 25px;}
#detalhes_domain .Responsavel{margin-left: 10px;}

#detalhes_domain .SMTP_Host		{	margin-left: 10px;	}
#detalhes_domain .SMTP_Porta	{	margin-left: 290px;	}

#detalhes_domain .SMTP_Auth		{	margin-left: 70px;}
#detalhes_domain .labelcheck	{	padding: 10px;}

#detalhes_domain .SMTP_Email	{	margin-left: 103px;	}
#detalhes_domain .SMTP_Senha	{	margin-left: 96px;	}

#detalhes_domain #SMTP_Host		{	width: 300px;	}
#detalhes_domain #SMTP_Porta	{	width: 100px;	}
#detalhes_domain #SMTP_Auth		{	margin: 0;		}
#detalhes_domain #SMTP_Email	{	width: 180px;	}
#detalhes_domain #SMTP_Senha	{	width: 157px;left:0px;position: relative;margin-left: -2px;}





#detalhes_domain .Protocolo{		margin-left: 10px;}
#detalhes_domain .FTP{				margin-left: 45px;}
#detalhes_domain .FTPlog{			margin-left: 166px;}
#detalhes_domain .FTPsenha{			margin-left: 124px;}
#detalhes_domain .FTPporta{			margin-left: 126px;}



#detalhes_domain .URLBD{		margin-left: 10px;}
#detalhes_domain .BDlog{		margin-left: 387px;}
#detalhes_domain .BDsenha{		margin-left: 160px;}
#detalhes_domain input{				margin: 10px;padding: 10px;}
#detalhes_domain #id{				width: 49px;	}	
#detalhes_domain #dominio{			width: 500px;	}
#detalhes_domain #ip{				width: 200px;	}
#detalhes_domain #urlexclusivo{		width: 554px;	}
#detalhes_domain #FeeMensal{		width: 100px;	}
#detalhes_domain #prestacoes {		width: 50px;	}


#detalhes_domain #salvar		{		position: absolute;padding: 10px 80px;float: right;right: 7px;	}
#detalhes_domain #excluir 		{		position: absolute;padding: 10px 80px;float: right;right: 10px;	}




#detalhes_domain #URLBD{		width: 530px;}
#detalhes_domain #BDlog{		width: 200px;}
#detalhes_domain #BDsenha{		width: 200px;}


.palco_01 .tituloLabel {
		position: relative;
		font-size: 30px;
		font-weight: 600;
		padding: 0px 10px;
		border-bottom: solid 1px #93C6DA;
		border-style: dotted;
		margin-bottom: 10px;}

#detalhes_domain .DomainStatus		{	position: relative;top: 25px;margin-top: 10px;margin-left: 10px;padding:10px;}
#detalhes_domain #DomainStatus		{	margin: 0;	}



#detalhes_domain #protocolo_chosen.chosen-container-single .chosen-single span{				margin-left: 0px;}
#detalhes_domain #protocolo_chosen.chosen-container .chosen-results li.active-result {		width: 93px;}
#detalhes_domain #protocolo_chosen.chosen-container {										margin: 10px;top: -1px; width:93px!important;}
#detalhes_domain #protocolo_chosen.chosen-container-single .chosen-single{					padding: 6px 0px 0 8px;height: 30px; width:83px!important;}
#detalhes_domain #protocolo_chosen.chosen-container-single .chosen-drop{					width: 93px!important;}
#detalhes_domain #protocolo_chosen.chosen-container .chosen-results {						width: 83px!important;min-width: 83px!important;}


#detalhes_domain #planos_chosen.chosen-container-single .chosen-single span{			margin-left: 0px;}
#detalhes_domain #planos_chosen.chosen-container .chosen-results li.active-result {		width: 188px;}
#detalhes_domain #planos_chosen.chosen-container {										margin: 10px;top: -1px; width:156px!important;}
#detalhes_domain #planos_chosen.chosen-container-single .chosen-single{					padding: 6px 0px 0 8px;height: 30px; width:146px!important;}
#detalhes_domain #planos_chosen.chosen-container-single .chosen-drop{					width: 156px!important;}
#detalhes_domain #planos_chosen.chosen-container .chosen-results {						width: 146px!important;min-width: 146px!important;}

#detalhes_domain #Fiador_chosen.chosen-container-single .chosen-single span{			margin-left: 0px;}
#detalhes_domain #Fiador_chosen.chosen-container .chosen-results li.active-result {		width: 293px;}
#detalhes_domain #Fiador_chosen.chosen-container {										margin: 10px;top: -1px; width:268px!important;}
#detalhes_domain #Fiador_chosen.chosen-container-single .chosen-single{					padding: 6px 0px 0 8px;height: 30px; width:258px!important;}
#detalhes_domain #Fiador_chosen.chosen-container-single .chosen-drop{					width: 268px!important;}
#detalhes_domain #Fiador_chosen.chosen-container .chosen-results {						width: 258px!important;min-width: 253px!important;}

#detalhes_domain #cliente_chosen.chosen-container-single .chosen-single span{			margin-left: 0px;}
#detalhes_domain #cliente_chosen.chosen-container .chosen-results li.active-result {	width: 188px;}
#detalhes_domain #cliente_chosen.chosen-container {										margin: 10px;top: -1px;width: 207px!important;}
#detalhes_domain #cliente_chosen.chosen-container-single .chosen-single{				padding: 6px 0px 0 8px;height: 30px;width: 200px!important;}

#detalhes_domain #formadepagamento_chosen.chosen-container-single .chosen-single span{			margin-left: 0px;}
#detalhes_domain #formadepagamento_chosen.chosen-container .chosen-results li.active-result {	width: 188px;}
#detalhes_domain #formadepagamento_chosen.chosen-container {									margin: 10px;top: -1px;}
#detalhes_domain #formadepagamento_chosen.chosen-container-single .chosen-single{				padding: 6px 0px 0 8px;height: 30px;}

/* CHARTS */
.highcharts-input-group{display:none;}
.highcharts-button{display:none;}
.speed_grafico{
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 44px;
}
.pie_grafico{
	float: left;
	position: relative;
	margin-top: -10px;
}
#todos_arquivos{
	position: relative;
	margin-left: 1px;
	margin-top: 20px;
}
text[text-anchor="end"]{
	display: none;
}