@charset "utf-8";
/*##################################################  STAGE LIQUIDO  #####################################################################*/

#ws_confirm #body #ws_confirm_conteudo #form-img input {
  position: relative;
  padding: 14px;
  width: 450px;
}
#ws_confirm #body #ws_confirm_conteudo #form-img textarea {
  width: 450px;
  padding: 10px;
  height: 100px;
  margin-top: 8px;
  resize: none;
}
#ws_confirm #body #ws_confirm_conteudo #form-img .cleditorMain {
  margin-left: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#topocadastro {
  font-weight: 600;
  font-size: 16px;
  height: 32px;
  padding-top: 11px;
  padding-left: 12px;
  color: #36568d;
  text-shadow: 1px 1px 1px white;
}
#botaoVoltaDomain {
  color: white;
  top: -6px;
  position: relative;
  float: right;
  right: 50%;
  height: 15px;
  padding: 8px 38px;
  margin-right: -494px;
}
#botaoCadastraDomain {
  color: white;
  top: -12px;
  position: relative;
  float: right;
  width: 61px;
  height: 15px;
  padding: 8px 18px;
  margin-right: 6px;
}
#cdastrodominio #cadastretit {
  top: 13px;
  position: relative;
  width: 350px;
}
::-webkit-input-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-moz-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
::-moz-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-ms-input-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-input[data-operaplaceholder] {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
#palco {
  position: relative;
  width: 1000px;
  float: left;
  left: 50%;
  margin-left: -500px;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 64px;
  margin-top: 10px;
}
#palco ul li {
  position: relative;
  float: left;
  margin: 4.5px;
  border: solid 1px #bad1db;
  width: 966px;
  height: 52px;
  padding: 10px;
}
#palco ul li:nth-child(odd) {
  background-color: rgba(128, 156, 184, 0.12);
}
#palco ul li span.editar,
#palco ul li span.excluir {
  cursor: pointer;
  margin: 5px;
}
#palco ul li #combo {
  position: relative;
  height: 155px;
}
#palco ul li #combo .mover {
  cursor: move;
}
#palco ul li #combo #detalhes_img {
  position: absolute;
  left: 100%;
  margin-left: -105px;
  top: 13px;
  height: 15px;
  width: 83px;
  padding: 5px 0px;
  text-align: center;
}
#topo_upload {
  padding: 10px;
  margin-top: -2px;
}
#topo_upload #progress_combo {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  padding: 10px;
  width: 698px;
  height: 17px;
}
#topo_upload #progress_combo #progress_bar {
  position: relative;
  height: 14px;
  border-left: 0;
  border-right: 0;
  width: 0px;
}
#topo_upload #bt_search_files {
  position: relative;
  width: 113px;
  padding: 10px 80px;
  left: 50%;
  margin-left: 230px;
}
