@charset "utf-8";
/*##################################################  STAGE LIQUIDO  #####################################################################*/
#ws_confirm{
	#body{
		#ws_confirm_conteudo{
			#form-img{
				input{
					position: relative;
					padding: 14px;
					width: 450px;
				}
				textarea{
					width: 450px;
					padding: 10px;
					height: 200px;
					margin-top: 8px;
					resize: none;
				}

				.cleditorMain{
					margin-left: 23px;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}
}
#topocadastro{
		font-weight: 600;
		font-size: 16px;
		height: 32px;
		padding-top: 11px;
		padding-left: 12px;
		color: #36568D;
		text-shadow: 1px 1px 1px #fff;}
#botaoVoltaDomain {
		color: #FFFFFF;
		top: -6px;
		position: relative;
		float: right;
		right: 50%;
		height: 15px;
		padding: 8px 38px;
		margin-right: -494px;}
#botaoCadastraDomain{
		color: #FFFFFF;
		top: -12px;
		position: relative;
		float: right;
		width: 61px;
		height: 15px;
		padding: 8px 18px;
		margin-right: 6px;}
#cdastrodominio {
	#cadastretit{
		top: 13px;
		position: relative;
		width: 350px;
		}
	}
::-webkit-input-placeholder { 
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;}
:-moz-placeholder { 
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;}
::-moz-placeholder { 
	font-family: "Myriad Pro Light";
    color:rgb(83, 139, 190);
	font-style:oblique;}
:-ms-input-placeholder {
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;}
:-input[data-operaplaceholder] {
	font-family: "Myriad Pro Light";
	color: rgb(83, 139, 190);
	font-style:oblique;}
#palco{
		position: relative;
		width: 1000px;
		float: left;
		left: 50%;
		margin-left: -500px;
		top: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 64px;
		margin-top: 10px;

		ul{
			li{
				position: relative;
				float:  left;
				margin: 4.5px;
				border: solid 1px #BAD1DB;
				width:  155px;
				height: 155px;
					.editar,.excluir{
						cursor:pointer;
						margin: 5px;
					}
				#combo{
					position: relative;
					width: 155px;
					height: 155px;
					//img{cursor:move;}
					#detalhes_img{
						position: absolute;
						left: -1px;
						top: 128px;
						width: 100%;
						padding: 5px 0px;
						text-align: center;
					}
				}
			}
		}

}


		#bt_voltar_cat{
			position: absolute;
			width: 200px;
			padding: 10px;
			text-align: center;
			left: 50%;
			margin-left: -500px;
		}
		#topo_upload{
			padding: 10px;
			margin-top: -2px;
			#progress_combo{
				position: absolute;
				left: 50%;
				margin-left: -270px;
				padding: 10px;
				width: 471px;
				height: 17px;
				#progress_bar{
					position: relative;
					height: 14px;
					border-left: 0;
					border-right: 0;
					width: 0px;
				}				
			}
			#bt_search_files{
				position: relative;
				width: 113px;
				padding: 10px 80px;
				left: 50%;
				margin-left: 230px;
			}
		}

#ws_paginacao{
	position: relative;
	float: left;
	top: -58px;
	left: 50%;
	width: auto;
	margin-bottom: 8px;
  	li{
  		cursor: pointer;
		position: relative;
		float: left;
		padding: 9px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		  margin: 1px;
  	}
}

