@charset "utf-8";
/*##################################################  STAGE LIQUIDO  #####################################################################*/
#cke_textarea{    
	width: 440px!important;
    margin-left: 8px;
    margin-top: 10px;
    float: left;
}

#ws_confirm{
	#body{

		#ws_confirm_conteudo{
			#form-img{
				input{
					position: relative;
					padding: 14px;
					width: 450px;
				}
				textarea{
					width: 443px;
					padding: 10px;
					height: 200px;
					margin-top: 8px;
					resize: none;
				}

				.cleditorMain{
					float: left;
					margin-left: 6px;
					margin-top: 10px;
					margin-bottom: 10px;
					width: 443px!important;
					height: 265px!important;				
				}
			}
		}
	}
}
#bt_Back_Cat{
	position: relative;
	float: left;
	padding: 10px 30px;
	margin: 10px;
}

#bt_Add_Galeria{
	margin: 10px;
	position: relative;
	float: right;
	padding: 10px 20px;
}
#DraftKey{
	position: absolute;
	height: 14px;
	width: 80px!important;
    float: left;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    max-width: 225px;
    text-align: center;
    padding: 10px 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
    cursor: pointer;
    font-family: 'Titillium Web',sans-serif;
    font-style: normal;
    font-weight: 800;
	background-color: #697685;
    .bolinha{
		position: relative;
		background-color: #f3f4f7;
		width: 30px;
		height: 30px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin-left: 2px;
		top: -8px;
		box-shadow: 2px 4px 5px #0000004f;
    }
}

#topocadastro{
		font-weight: 600;
		font-size: 16px;
		height: 32px;
		padding-top: 11px;
		padding-left: 12px;
		color: #36568D;
		text-shadow: 1px 1px 1px #fff;
	}

#formUpload{
	position: relative;
	float: left;
	height: 50px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 980px;	
}


#botaoVoltaDomain {
		color: #FFFFFF;
		top: -6px;
		position: relative;
		float: right;
		right: 50%;
		height: 15px;
		padding: 8px 38px;
		margin-right: -494px;}
#botaoCadastraDomain{
		color: #FFFFFF;
		top: -12px;
		position: relative;
		float: right;
		width: 61px;
		height: 15px;
		padding: 8px 18px;
		margin-right: 6px;}
#cdastrodominio {
	#cadastretit{
		top: 13px;
		position: relative;
		width: 350px;
		}
	}
::-webkit-input-placeholder { 
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;}
:-moz-placeholder { 
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;}
::-moz-placeholder { 
	font-family: "Myriad Pro Light";
    color:rgb(83, 139, 190);
	font-style:oblique;}
:-ms-input-placeholder {
	font-family: "Myriad Pro Light";
    color: rgb(83, 139, 190);
	font-style:oblique;}
:-input[data-operaplaceholder] {
	font-family: "Myriad Pro Light";
	color: rgb(83, 139, 190);
	font-style:oblique;}
#palco{
		position: relative;
		width: 1000px;
		float: left;
		left: 50%;
		margin-left: -500px;
		top: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 64px;
		margin-top: 10px;

		ul{
			li{
				position: relative;
				float:  left;
				margin: 4.5px;
				border: solid 1px #BAD1DB;
				background-image: url('./../../../img/loader_thumb.gif');
				background-repeat: no-repeat;
				background-position-x: 50%;
				background-position-y: 41%;

				&[data-draft="0"]{
					.detalhes_img{
						display:none;
					}
					.avatar{
						cursor: no-drop!important;
						-moz-user-select: none;
						-webkit-user-select: none;
						-ms-user-select: none;
						user-select: none;
						-webkit-user-drag: none;
						user-drag: none;
						-webkit-touch-callout: none;
					}
				}


				span{
					img{
						cursor:pointer;
						margin: 5px;

					}
				}




				.combo{
					position: relative;
					width: 155px;
					height: 155px;
					.combo_upload{
						display: none;
						position: absolute;
						border: solid 1px #39639d;
						margin: 10px;
						height: 30px;
						background-color: white;
						margin-left: -34px;
						left: 50%;
			  			div{
							  position: relative;
							  float: left;
							  margin: 3px;
							  cursor: pointer;
						}
					}
					canvas{
						position: absolute;
						left: 24px;
						top: 13px;
					}				

					img.avatar{cursor:move;}
					.detalhes_img{
						position: absolute;
						left: 0px;
						top: 131px;
						width: 100%;
						text-align: center;
						height: 20px;
						padding-top: 5px;
						background-color: #000000a1;
    				}
				}
			}
		}
}