<style type="text/css">
	.h1 {
		position: relative;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 10px;
		margin: 10px 0;
		border-bottom: solid 1px #50637d;
		color: #FFF;
		float: left;
		width: 100%;
    }

	.h2 {
		position: relative;
		font-size: 19px;
		font-weight: 100;
		padding: 4px;
		margin: 10px 10px;
		color: #d5d5d5;
		float: left;
		width: 100%;
	}
	.h3 {
		position: relative;
		font-size: 14px;
		font-weight: 100;
		padding: 4px;
		margin: 10px 10px;
		color: #FFFFFF;
		float: left;
		width: 100%;
	}

	.input_text {
		font-family: 'Titillium Web', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		padding: 15px 10px;
		border: solid 1px #3f4143;
		background-color: #212121;
		color: #c7c7c7;
		width: 100%;
	}
	.combo {
		position: relative;
		margin-left: 9px;
		width: calc(100% - 26px);
		float: left;
		margin-bottom: 30px;
    }

	.bt_padrao {
		padding: 10px 20px;
		width: calc(100% - 80px);
		left: 50%;
		position: relative;
		margin: 13px 0;
		transform: translateX(calc(-50% - 6px));
		text-align: center;
	}
	.bt_metade {
		padding: 10px 20px;
		width: calc(50% - 60px);
		position: relative;
		margin: 13px 5px;
		text-align: center;
		left: 7px;
    }
    .pluginList:hover{
    	background-color: #101823;
    }
    .pluginList{
    	cursor: pointer;
		height: auto;
		padding: 10px;
		border-bottom: dotted 1px #465569;
		position: relative;
		float: left;
		width: 100%;
	}
  .pluginList .avatar{
		position: relative;
		float: left;
		width: 50px;
		margin-right: 13px;
    }

  .pluginList .title{
		font-weight: 600;
		color: #FFF;
		padding: 4px 0px;
  }

</style>

<div class="h1"> 
	<i class="fa fa-plug"></i> Adicionar um plugin
</div>
<div class="combo" id="listPlugins"> 
	<!-- BEGIN PLUGIN -->
		<div class="pluginList easing" data-path="{pluginPath}">
			<img class="avatar" src="{avatar}">
			<div class="title">{title}</div>
			<div class="description">{description}</div>
		</div>
	<!-- END PLUGIN -->
</div>

<script type="text/javascript">
	$('.pluginList').unbind("click tap press").bind("click tap press", function() {
		var path  = $(this).data("path");
		$.ajax({
			type: "POST",
			url: "./app/ws-modules/ws-webmaster/functions.php",
			data: {'function': 'getShortCodesPlugin',"path":path},
			beforeSend: function() {}
		}).done(function(data) {
			console.info(data)
			window.ws_webmaster.engine.insert(data)
		})
	})
</script>