<style type="text/css">
	.h1 {
		position: relative;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 10px;
		margin: 10px 0;
		border-bottom: solid 1px #50637d;
		color: #FFF;
		float: left;
		width: 100%;
    }

	.h2 {
		position: relative;
		font-size: 19px;
		font-weight: 100;
		padding: 4px;
		margin: 10px 10px;
		color: #d5d5d5;
		float: left;
		width: 100%;
	}
	.h3 {
		position: relative;
		font-size: 14px;
		font-weight: 100;
		padding: 4px;
		margin: 10px 10px;
		color: #FFFFFF;
		float: left;
		width: 100%;
	}

	.input_text {
		font-family: 'Titillium Web', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		padding: 15px 10px;
		border: solid 1px #3f4143;
		background-color: #212121;
		color: #c7c7c7;
		width: 100%;
	}
	.combo {
		position: relative;
		margin-left: 9px;
		width: calc(100% - 26px);
		float: left;
		margin-bottom: 30px;
    }

	.bt_padrao {
		padding: 10px 20px;
		width: calc(100% - 80px);
		left: 50%;
		position: relative;
		margin: 13px 0;
		transform: translateX(calc(-50% - 6px));
		text-align: center;
	}
	.bt_metade {
		padding: 10px 20px;
		width: calc(50% - 60px);
		position: relative;
		margin: 13px 5px;
		text-align: center;
		left: 7px;
    }
    .pluginList:hover{
    	background-color: #101823;
    }
    .pluginList{
    	cursor: pointer;
		height: auto;
		padding: 10px;
		border-bottom: dotted 1px #465569;
		position: relative;
		float: left;
		width: 100%;
	}
  .pluginList .avatar{
		position: relative;
		float: left;
		width: 50px;
		margin-right: 13px;
    }

  .pluginList .title{
		font-weight: 600;
		color: #FFF;
		padding: 4px 0px;
  }

</style>

<div class="h1"> 
	<i class="fa fa-code"></i> Adicionar um ShortCode
</div>
<div class="combo" id="listPlugins"> 
	<!-- BEGIN SHORTCODE -->
		<div class="pluginList easing" data-shortCode="{Filename}">
			<div class="title"><i class="fa fa-code"></i>{title}</div>
			<div class="description"><b>Filename:</b> {Filename}</div>
			<!-- BEGIN PARAMS -->
			<div class="description" data-param="{name}"><b>{name}:</b> <span>{param}</span></div>
			<!-- END PARAMS -->
		</div>
	<!-- END SHORTCODE -->
</div>

<script type="text/javascript">
	$('.pluginList').unbind("click tap press").bind("click tap press", function() {
		var path  			= $(this).data("shortcode").replace(".php","");
		var foreachParams 	= $(this).find('.description[data-param]');
		var arrayParams 	= [];

		if($(foreachParams).length>0){

			$.each($(foreachParams),function(a,b){
				arrayParams.push($(b).data('param'));
			})
		//	console.log(arrayParams);
		//	var attr  = $(this).find('.description[data-param="attr"] span').text().split(" ").join("").trim();
			var shortInsert = '<ws-shortcode function="'+path+'" '+arrayParams.join('="" ')+'="">\n';


		}else{
			var shortInsert = '<ws-shortcode function="'+path+'">\n';
		}
		shortInsert +=	'	Seu conteúdo aqui!\n';
		shortInsert +=	'</ws-shortcode>';
		window.ws_webmaster.engine.insert(shortInsert)
	})
</script>
















