@charset "utf-8";
.b{display:block;}
.l{position:relative;float:left;}
.r{position:relative;float:right;}
.c{clear:both;}
.gradient {filter: none;/*IE*/}
/*######################################################################################################################################################----RADIUS*/
.tween1{-webkit-transition:.1s ease-out;-moz-transition:.1s ease-out;-o-transition:.1s ease-out;-ms-transition:.1s ease-out;transition:all 0.1s linear;}
.tween2{-webkit-transition:.2s ease-out;-moz-transition:.2s ease-out;-o-transition:.2s ease-out;-ms-transition:.2s ease-out;transition:all 0.2s linear;}
.tween3{-webkit-transition:.3s ease-out;-moz-transition:.3s ease-out;-o-transition:.3s ease-out;-ms-transition:.3s ease-out;transition:all 0.3s linear;}
.tween4{-webkit-transition:.4s ease-out;-moz-transition:.4s ease-out;-o-transition:.4s ease-out;-ms-transition:.4s ease-out;transition:all 0.4s linear;}
.tween5{-webkit-transition:.5s ease-out;-moz-transition:.5s ease-out;-o-transition:.5s ease-out;-ms-transition:.5s ease-out;transition:all 0.5s linear;}
.tween6{-webkit-transition:.6s ease-out;-moz-transition:.6s ease-out;-o-transition:.6s ease-out;-ms-transition:.6s ease-out;transition:all 0.6s linear;}
.tween7{-webkit-transition:.7s ease-out;-moz-transition:.7s ease-out;-o-transition:.7s ease-out;-ms-transition:.7s ease-out;transition:all 0.7s linear;}
.tween8{-webkit-transition:.8s ease-out;-moz-transition:.8s ease-out;-o-transition:.8s ease-out;-ms-transition:.8s ease-out;transition:all 0.8s linear;}
.tween9{-webkit-transition:.9s ease-out;-moz-transition:.9s ease-out;-o-transition:.9s ease-out;-ms-transition:.9s ease-out;transition:all 0.9s linear;}
/*######################################################################################################################################################----RADIUS*/
.rad1{-moz-border-radius: 1px;-webkit-border-radius: 1px;border-radius: 1px;}
.rad2{-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.rad3{-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.rad4{-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.rad5{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.rad6{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.rad7{-moz-border-radius: 7px;-webkit-border-radius: 7px;border-radius: 7px;}
.rad8{-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;}
.rad9{-moz-border-radius: 9px;-webkit-border-radius: 9px;border-radius: 9px;}
.rad10{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
/*######################################################################################################################################################-----CHANFROS */
.chanfro{text-shadow:0.1em 0.1em rgba(255, 255, 255, 0.5),-0.1em -0.1em -0.1em rgba(0,0, 0, 0.3);}
.chanfbot{text-shadow:0.1em 0.1em rgba(255, 255, 255, 0.7);}
.chanftop{text-shadow:-0.1em -0.1em -0.1em rgba(0,0, 0, 0.3);}
/*#####################################################################################################################################################-----InterShadow */
.InterShadow5{-moz-box-shadow:inset 0 0 5px #000000;-webkit-box-shadow:inset 0 0 5px #000000;box-shadow:inset 0 0 5px #000000;}
.InterShadow10 {-moz-box-shadow:inset 0 0 10px #000000;-webkit-box-shadow:inset 0 0 10px #000000;box-shadow:inset 0 0 10px #000000;}
.InterShadow20 {-moz-box-shadow:inset 0 0 20px #000000;-webkit-box-shadow:inset 0 0 20px #000000;box-shadow:inset 0 0 20px #000000;}
.InterShadow30 {-moz-box-shadow:inset 0 0 30px #000000;-webkit-box-shadow:inset 0 0 30px #000000;box-shadow:inset 0 0 30px #000000;}
.InterShadow40 {-moz-box-shadow:inset 0 0 40px #000000;-webkit-box-shadow:inset 0 0 40px #000000;box-shadow:inset 0 0 40px #000000;}
.InterShadow50 {-moz-box-shadow:inset 0 0 50px #000000;-webkit-box-shadow:inset 0 0 50px #000000;box-shadow:inset 0 0 50px #000000;}
.InterShadow60 {-moz-box-shadow:inset 0 0 60px #000000;-webkit-box-shadow:inset 0 0 60px #000000;box-shadow:inset 0 0 60px #000000;}
.InterShadow70 {-moz-box-shadow:inset 0 0 70px #000000;-webkit-box-shadow:inset 0 0 70px #000000;box-shadow:inset 0 0 70px #000000;}
/*#####################################################################################################################################################----- */
.ShadownT{-webkit-box-shadow:0 -8px 6px -6px black;	-moz-box-shadow:0 -8px 6px -6px black;		box-shadow:0 -8px 6px -6px black;}
.ShadownB{-webkit-box-shadow:0 8px 6px -6px black;	-moz-box-shadow:0 8px 6px -6px black;		box-shadow:0 8px 6px -6px black;}
/*#####################################################################################################################################################----- */