@charset "utf-8";
/* #################################################			CONFIRMA		#################################################### */

#ws_confirm,
.ws_popup_confirm{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index:1000;
		/*BACKGROUND*/
		background: rgb(237,237,237);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0.89) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0, 0, 0, 0.59)), color-stop(100%,rgba(0, 0, 0, 0.89)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0, 0, 0, 0.59) 0%,rgba(0, 0, 0, 0.89) 100%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(0, 0, 0, 0.59) 0%,rgba(0, 0, 0, 0.89) 100%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(0, 0, 0, 0.59) 0%,rgba(0, 0, 0, 0.89) 100%);
		background: radial-gradient(ellipse at center,  rgba(0, 0, 0, 0.59) 0%,rgba(0, 0, 0, 0.89) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#1088b7',GradientType=1 );
}
#ws_confirm #body #bottons,
.ws_popup_confirm .body .bottons{
position: absolute;
width: 100%;
bottom: 0px;
height: auto;
padding-bottom: 3px;
}
#ws_confirm #body #conteudo,
.ws_popup_confirm .body .conteudo{
		position: relative;
		text-align: center;
		width: 98%;
		top: 0px;
		height: auto;
		padding: 10px;
		margin-bottom: 0px;
}
#ws_confirm #body #aceitar,
.ws_popup_confirm .body .aceitar{
			cursor: pointer;
			padding: 10px 0;
			text-align: center;
			color: #FFFFFF;
			position: absolute;
			width: 42%;
			min-width:70px;
			max-width: 250px;
			bottom: 10px;
			right: 50%;
			margin-right: 10px;
			border: 1px solid #c2c2c2;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
}
#ws_confirm #body #recusar,
.ws_popup_confirm .body .recusar{
	
			cursor: pointer;
			padding: 10px 0;
			text-align: center;
			font-family: Arial;
			color: #838383;
			text-shadow: 0px 1px 1px #fff;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.3);
			width: 42%;
			min-width:70px;
			bottom: 10px;
			max-width: 250px;
			left: 50%;
			margin-left: 10px;
			background-color: #ffffff;
			border: 1px solid #c2c2c2;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
			-moz-box-shadow: inset 0px 0px 0px 1px #ffffff;
			-webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
			box-shadow: inset 0px 0px 0px 1px #ffffff;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1cfd0');
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1cfd0')";
			background-image: -moz-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: -ms-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: -o-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d1cfd0));
			background-image: -webkit-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: linear-gradient(top, #ffffff, #d1cfd0);
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;	
}

#ws_confirm #body #close,
.ws_popup_confirm .body .close{
			position: absolute;
			text-align: center;
			cursor: pointer;
			float: right;
			top: -28px;
			right: -6px;
			margin-right: 5px;
			margin-top: 0px;
			width: 32px;
			height: 50px;
			padding: 4px;
			-moz-border-radius: 6px 6px 0px 0px;
			-webkit-border-radius: 6px 6px 0px 0px;
			border-radius: 6px 6px 0px 0px;
			background-color: #FFF;
}
#ws_confirm #body,
.ws_popup_confirm .body{
	   		transform: translateX(-50%) translateY(-50%);
			text-align: center;
			padding-top: 20px;
			padding-bottom: 60px;
			cursor: move;
			position: fixed;
			left: 50%;
			top: 50%;
			width: 400px;
			min-width:250px;			
			background-color: #ffffff;
			border: 1px solid #c2c2c2;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
			-moz-box-shadow: inset 0px 0px 0px 1px #ffffff;
			-webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
			box-shadow: inset 0px 0px 0px 1px #ffffff;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1cfd0');
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1cfd0')";
			background-image: -moz-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: -ms-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: -o-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d1cfd0));
			background-image: -webkit-linear-gradient(top, #ffffff, #d1cfd0);
			background-image: linear-gradient(top, #ffffff, #d1cfd0);
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;	
	}







	
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */
/* ##################################################################################################### */

#ws_alert{
	background-color: rgba(194, 223, 236, 0.42);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#ws_alert #body #bottons{
position: absolute;
width: 100%;
bottom: 0px;
height: 70px;
}
#ws_alert #body #conteudo{
		position: relative;
		width: 98%;
		top: 0px;
		height: auto;
		padding: 10px 0;
		margin-bottom: 0px;
		font-family: "Myriad Pro Light";
		color: rgb(83, 139, 190);
		text-align: center;
}
#ws_alert #body #ok{
cursor: pointer;
padding: 10px 0;
text-align: center;
color: #FFFFFF;
position: absolute;
background-color: rgba(0, 0, 0, 0.3);
width: 160px;
bottom: 10px;
left: 50%;
margin-left: -80px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
background-color: 426ea9;
}
#ws_alert #body{
		cursor: move;
		position: fixed;
		left: 50%;
		top: 50%;
		width: 400px;
		min-width: 250px;
		padding-bottom: 60px;
		background-color: #ffffff;
		border: 1px solid #8CACB6;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border-radius: 7px;
		-moz-box-shadow: inset 0px 0px 0px 1px #ffffff;
		-webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
}
	/*########################################################### UPLOAD #######################################*/
.barrinhaUpload{
			height: 10px;
			width: 500px;
			background-color: #F30;
}
.blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}