@charset "utf-8";
/*##################################################  STAGE LIQUIDO  #####################################################################*/
body{overflow: hidden;}
.bgradial_agencia {
  background:none!important;
  background-color: #2E2D2D!important;
}
.inputText {
border: none;
background-color: #161616;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-moz-box-shadow: inset 0px 2px 10px -7px #000000;
-webkit-box-shadow: inset 0px 2px 10px -7px #000000;
box-shadow: inset 0px 2px 10px -7px #000000;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#000000');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#000000')";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#161616', endColorstr = '#1B1B1B');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#161616', endColorstr = '#1B1B1B')";
background-image: -moz-linear-gradient(top, #161616, #1B1B1B);
background-image: -ms-linear-gradient(top, #161616, #1B1B1B);
background-image: -o-linear-gradient(top, #161616, #1B1B1B);
background-image: -webkit-gradient(linear, center top, center bottom, from(#161616), to(#1B1B1B));
background-image: -webkit-linear-gradient(top, #161616, #1B1B1B);
background-image: linear-gradient(top, #161616, #1B1B1B);
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
color: #AFAFAF!important;
font-size: 18px;
}
#container #login #esqueceu.agencia {
  color: #B46C6C!important;
  text-shadow: 0px -1px 0px black!important;
}

#container #login {
    position: absolute;
    width: 440px;
    left: 50%!important;
    margin-left: -210px;
    top: 50%!important;
    margin-top: -180px!important;
    height: 360px;


}
#container #login #logomarca {
    position: relative;
    float: left;
    left: 50%;
    margin-left: -150px;
    margin-bottom: 10px;
    width: 300px;
    height: 85px;
    background-image: url(/img/Logo_login_Agencia.png);
    background-repeat: no-repeat;
    background-position: top center;
}
#container #login #logomarca #h1 {
  -webkit-background-clip: text;
  font-family:font-file-77370; font-style:normal; font-weight:900; /* Myriad Pro Bold */;
  font-size: 50px;
  color:#a9bedd;
}
#container #login #logomarca #h2 {
  -webkit-background-clip: text;
  font-family:font-file-77370; font-style:normal; font-weight:900; /* Myriad Pro Bold */;
  font-size: 50px;
  color:#cee4fb;

}
#container #login #logomarca #beta {
  position: absolute;
  float: left;
  left: 207px;
  top: 4px;
  font-family:font-file-77385; font-style:normal; font-weight:300
  font-size: 15px;
  color: #5f859f;
}
#container #login #logomarca #SubTit {
  position: relative;
  left: 5px;
  top: -4px;
  font-family:font-file-77385; font-style:normal; font-weight:300
  font-size: 15.5px;
  color: #5f859f;
}
#container #login #formulario {
  position: relative;
  left: 50%;
  margin-left: -198px;
  width: 400px;
  top: 20px;
}
#container #login #formulario input {
  padding: 10px;
  width: 400px;
  margin-bottom: 10px;
  font-family:font-file-77385; font-style:normal; font-weight:300
  font-size: 20px;
  color: #0080c9;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family:font-file-77385; font-style:normal; font-weight:300
  color: #538bbe;
  font-style: oblique;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family:font-file-77385; font-style:normal; font-weight:300
  color: #538bbe;
  font-style: oblique;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family:font-file-77385; font-style:normal; font-weight:300
  color: #538bbe;
  font-style: oblique;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family:font-file-77385; font-style:normal; font-weight:300
  color: #538bbe;
  font-style: oblique;
}
:-input[data-operaplaceholder] {
  font-family:font-file-77385; font-style:normal; font-weight:300
  color: #538bbe;
  font-style: oblique;
}
#container #login button {
  top: 30px;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -200px;
  z-index: 1;
  padding: 15px 148px;
}
#container #login #iniciarsessao_disabled {
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  z-index: 1;
  width: 400px;
  height: 33px;
  padding-top: 19px;
  margin-top: 30px;
}
#container #login #iniciarsessao_disabled img {
  position: absolute;
  left: 50px;
  top: 15px;
}
#container #login #esqueceu {
    position: relative;
    background-image: url(./../img/user-silhouette-question.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
    padding-left: 19px;
    height: 19px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
    font-family: font-file-77385;
    font-style: normal;
    font-weight: 300 font-size: 15px;
    color: #5f859f;
    text-shadow: 0px 1px 1px white;
    z-index: 2;
    width: 379px;
}
#select_user_chosen.chosen-container-single .chosen-single span {
  margin-left: 0px;
  font-family:font-file-77385; font-style:normal; font-weight:300
}
#select_user_chosen.chosen-container .chosen-results li.active-result {
  width: 382px;
  
}
#select_user_chosen.chosen-container {
  margin-bottom: 10px;
  top: -1px;
  width: 400px!important;
}
#select_user_chosen.chosen-container-single .chosen-single {
  padding: 6px 0px 0 8px;
  height: 30px;
  width: 390px!important;
}
#select_user_chosen.chosen-container-single .chosen-drop {
  width: 400px!important;
}
#select_user_chosen.chosen-container .chosen-results {
  width: 390px!important;
  min-width: 390px!important;
}
