#palco ul li.search-choice,
#palco ul li.search-field {
  width: auto!important;
  height: auto!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.CodeMirror.cm-s-default {
  position: relative!important;
  top: 4px;
  left: -6px;
  width: 889px;
  height: 340px;
  border: solid 1px #aabcd0;
}
.CodeMirror {
  font-family: 'myriad pro light';
  position: relative!important;
  height: 400px;
  width: 880px;
  margin: 10px;
  top: 0;
  left: 0;
}
#topo_detalhado {
  position: relative;
  float: right;
  left: 0;
  width: 100%;
  border: 0;
  height: 60px;
  border-bottom: solid 1px #bacddf;
  margin-top: 0px;
  z-index: 1;
}
#topo_detalhado .topo_tools {
  position: relative;
  height: 37px;
  width: 900px;
  float: left;
  left: 50%;
  margin-left: -380px;
  top: 14px;
  overflow: hidden;
}
#topo_detalhado .topo_tools .icon {
  cursor: pointer;
  position: relative;
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-image: url("./../../../img/icones_editor.png");
  background-position-y: -37px;
}
#topo_detalhado .topo_tools .icon.disabled {
  background-position-y: -1px;
}
#topo_detalhado .topo_tools .icon:not(.disabled):hover {
  background-position-y: -73px;
}
#topo_detalhado .topo_tools .icon.input {
  background-position-x: 0;
  width: 30px;
}
#topo_detalhado .topo_tools .icon.textarea {
  background-position-x: -44px;
  width: 32px;
}
#topo_detalhado .topo_tools .icon.check {
  background-position-x: -93px;
  width: 24px;
}
#topo_detalhado .topo_tools .icon.radio {
  background-position-x: -132px;
  width: 24px;
}
#topo_detalhado .topo_tools .icon.select {
  background-position-x: -172px;
  width: 35px;
}
#topo_detalhado .topo_tools .icon.multiple {
  background-position-x: -224px;
  width: 65px;
}
#topo_detalhado .topo_tools .icon.label {
  background-position-x: -303px;
  width: 28px;
}
#topo_detalhado .topo_tools .icon.separador {
  background-position-x: -346px;
  width: 28px;
}
#topo_detalhado .topo_tools .icon.quebra {
  background-position-x: -390px;
  width: 28px;
}
#topo_detalhado .topo_tools .icon.vazio {
  background-position-x: -432px;
  width: 28px;
}
#topo_detalhado .topo_tools .icon.file {
  background-position-x: -475px;
  width: 28px;
}
#topo_detalhado .topo_tools .icon.thumb {
  background-position-x: -517px;
  width: 30px;
}
#topo_detalhado .topo_tools .icon.color {
  background-position-x: -561px;
  width: 30px;
}
#topo_detalhado .topo_tools .icon.imagens {
  background-position-x: -603px;
  width: 35px;
}
#topo_detalhado .topo_tools .icon.galerias {
  background-position-x: -647px;
  width: 35px;
}
#topo_detalhado .topo_tools .icon.arquivos {
  background-position-x: -691px;
  width: 35px;
}
#topo_detalhado .topo_tools .icon.keyworks {
  background-position-x: -734px;
  width: 53px;
}
#topo_detalhado .topo_tools .icon.link_tool {
  background-position-x: -790px;
  width: 44px;
  margin-left: 0px;
}
#topo_detalhado .topo_tools .icon.iframe {
  background-position-x: -835px;
  width: 34px;
  margin-left: 10px;
}
#topo_detalhado #voltar_basico {
  position: absolute;
  left: 50%;
  padding: 10px 30px;
  top: 10px;
  margin-left: 230px;
}
#topo_detalhado #bt_Add_campo {
  position: absolute;
  left: 50%;
  padding: 10px 20px;
  margin: 5px;
  margin-left: -194px;
  text-align: center;
  margin-top: 10px;
}
#topo_detalhado #SelectCampotypeTop {
  position: absolute;
  left: 50%;
  padding: 10px 20px;
  margin: 5px;
  margin-left: 230px;
  text-align: center;
  margin-top: 10px;
  width: 270px;
}
#topo_basico {
  position: relative;
  float: right;
  left: 0;
  width: 100%;
  border: 0;
  height: 60px;
  border-bottom: solid 1px #bacddf;
  margin-top: 0px;
  z-index: 1;
}
#topo_basico #voltar {
  position: absolute;
  left: 50%;
  margin-left: -489px;
  padding: 10px 40px;
  top: 10px;
}
#topo_basico #salvar_basico {
  position: absolute;
  left: 50%;
  margin-left: 227px;
  padding: 10px 40px;
  top: 10px;
}
#topo_basico #SelectCampotypeTop {
  position: absolute;
  left: 50%;
  padding: 10px 20px;
  margin: 5px;
  margin-left: 230px;
  text-align: center;
  margin-top: 10px;
  width: 270px;
}
#ws_confirm #body #ws_confirm_conteudo .corpo_detalhes_campo {
  position: relative;
  height: 300px;
  overflow: auto;
  width: 440px;
  left: 4px;
  top: -27px;
  margin-bottom: -32px;
  margin-top: 10px;
}
#ws_confirm #body #ws_confirm_conteudo .corpo_detalhes_campo form .label {
  position: relative;
  padding: 10px;
  text-align: left;
}
#ws_confirm #body #ws_confirm_conteudo .corpo_detalhes_campo form .label_titulo {
  position: relative;
  padding: 10px 10px 0px;
  text-align: left;
  font-weight: 800;
}
#ws_confirm #body #ws_confirm_conteudo .corpo_detalhes_campo form select,
#ws_confirm #body #ws_confirm_conteudo .corpo_detalhes_campo form input {
  padding: 10px 40px;
  width: 410px;
}
#palco #InfoItemSelect_chosen {
  margin-left: 10px;
  width: 580px;
}
#palco .coluna_esq {
  position: relative;
  float: left;
  width: 900px!important;
  min-height: 440px;
  margin-bottom: 59px;
  padding-bottom: 20px;
  background-color: #f5f6f7;
  z-index: 2;
  left: 50%;
  margin-left: -490px;
  border: solid 1px #ccdddd;
}
#palco .coluna_esq .tick {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
}
#palco .coluna_esq .label {
  width: 900px;
  padding: 10px;
  float: left;
}
#palco .coluna_esq form .labelnulltool {
  display: none;
}
#palco .coluna_esq form label.label {
  cursor: pointer;
  border-bottom: dotted 1px;
  width: 580px;
}
#palco .coluna_esq form .botao {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
#palco .coluna_esq form select {
  padding: 8px 20px;
  width: 340px;
  margin: 4px 10px;
}
#palco .coluna_esq form input {
  padding: 10px;
  margin-left: 10px;
  width: 340px;
  margin: 5px 10px;
}
#palco .coluna_esq form input[type="checkbox"] {
  position: relative;
  float: left;
  width: 17px;
  height: 19px;
  margin: 0px 5px;
}
#palco .coluna_dir {
  position: relative;
  float: left;
  width: 1010px;
  left: 50%;
  border: solid 1px #dae6ee;
  margin-left: -505px;
  z-index: 1;
  margin-bottom: 70px;
  padding-left: 10px;
}
#palco .coluna_dir .key_works {
  cursor: move;
  position: relative;
  float: left;
  height: 23px;
  margin: 3px;
  width: 990px;
  overflow: hidden;
  background-color: #ceecdf;
  border: dotted 2px #5bb88a;
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #589400;
}
#palco .coluna_dir .key_works .info {
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 24px;
}
#palco .coluna_dir .key_works .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 0px;
}
#palco .coluna_dir .key_works .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .separador {
  cursor: move;
  position: relative;
  float: left;
  height: 23px;
  margin: 3px;
  width: 990px;
  overflow: hidden;
  background-color: #ddfcb7;
  border: dotted 2px #70c306;
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #589400;
}
#palco .coluna_dir .separador .info {
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 24px;
}
#palco .coluna_dir .separador .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 0px;
}
#palco .coluna_dir .separador .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .quebra_de_linha {
  ccursor: move;
  position: relative;
  float: left;
  height: 19px;
  margin: -1px;
  width: 998px;
  overflow: hidden;
  background-color: #f7fcb7;
  border: dotted 2px #e8a800;
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 9px;
  color: #d56900;
}
#palco .coluna_dir .quebra_de_linha .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .imagem_model {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 794px;
  overflow: hidden;
  background-color: #6e8fec;
  background-color: #78c1d7;
  border: dotted 2px #026784;
  text-align: center;
  font-family: Myriad Pro Light;
  font-size: 17px;
  padding-top: 14px;
  padding-bottom: 9px;
  color: white;
}
#palco .coluna_dir .imagem_model .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
}
#palco .coluna_dir .imagem_model .hand {
  display: block;
  margin: 12px;
  position: absolute;
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  left: 0px;
}
#palco .coluna_dir .imagem_model .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
}
#palco .coluna_dir .imagem_model .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .avatar_model {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 794px;
  overflow: hidden;
  background-color: #6e8fec;
  border: dotted 2px #0e53a5;
  text-align: center;
  font-family: Myriad Pro Light;
  font-size: 17px;
  padding-top: 14px;
  color: white;
}
#palco .coluna_dir .avatar_model .hand {
  display: block;
  padding: 13px 10px;
  position: absolute;
  float: left;
  width: calc(100% - 25px);
  height: calc(100% - 31px);
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#palco .coluna_dir .iframeDiv {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 794px;
  overflow: hidden;
  background-color: #eacadc;
  border: dotted 2px #c85391;
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #c85391;
}
#palco .coluna_dir .iframeDiv .edit {
  cursor: pointer;
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  top: 0px;
  left: 20px;
  z-index: 2;
}
#palco .coluna_dir .iframeDiv .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .iframeDiv .hand {
  display: block;
  padding: 13px 10px;
  position: absolute;
  float: left;
  width: 100%;
  height: calc(100% - 25px);
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#palco .coluna_dir .EspacoVazio {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 794px;
  overflow: hidden;
  background-color: white;
  border: dotted 2px #cfcfcf;
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #888888;
}
#palco .coluna_dir .EspacoVazio .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .EspacoVazio .hand {
  display: block;
  padding: 13px 10px;
  position: absolute;
  float: left;
  width: 100%;
  height: calc(100% - 25px);
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#palco .coluna_dir .undefined {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 794px;
  overflow: hidden;
  background-color: white;
  border: dotted 2px #cfcfcf;
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #888888;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .undefined .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .undefined .info {
  display: none;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
}
#palco .coluna_dir .undefined .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#palco .coluna_dir .undefined .hand {
  display: block;
  padding: 13px 10px;
  position: absolute;
  float: left;
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#palco .coluna_dir .resizeTextArea {
  position: relative;
  float: left;
  height: 38px;
  margin: 3px;
  width: 200px;
  overflow: hidden;
  background-color: #cbe5ef;
  border: dotted 2px #50c5c5;
  padding-bottom: 3px;
}
#palco .coluna_dir .resizeTextArea .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
}
#palco .coluna_dir .resizeTextArea .hand {
  display: block;
  margin: 12px;
  position: absolute;
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  left: 0px;
}
#palco .coluna_dir .resizeTextArea .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
}
#palco .coluna_dir .resizeTextArea .editor {
  position: relative;
  width: 1000px;
  height: 27px;
  background-image: url("./../../../img/editor.jpg");
  top: 5px;
  left: 79px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
#palco .coluna_dir .resizeTextArea .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .botao_model {
  float: left;
  text-align: center;
  padding: 13px 0px;
  margin: 3px;
  height: 16px;
  max-height: 16px;
  background-color: #497cbf;
  border: 1px solid #497cbf;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-family: Myriad Pro Light;
  font-style: normal;
  font-weight: 100;
  color: #d4e3eb;
}
#palco .coluna_dir .botao_model .hand {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  z-index: 2;
  margin-left: 10px;
}
#palco .coluna_dir .botao_model .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .botao_model .edit {
  display: block;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
  margin-left: 30px;
}
#palco .coluna_dir .label_text {
  position: relative;
  float: left;
  height: 32px;
  margin: 3px;
  width: 200px;
  max-height: 16px;
  overflow: hidden;
  background-color: #f2eaf5;
  border: dotted 2px #4d0079;
  padding-bottom: 8px;
}
#palco .coluna_dir .label_text .botaoupload {
  position: relative;
  float: right;
  top: 7px;
  width: 116px;
  height: 12px;
  text-align: center;
  padding: 13px 0px;
  margin: 3px;
  background-color: rgba(73, 124, 191, 0.26);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-family: Myriad Pro Light;
  font-style: normal;
  font-weight: 100;
  color: #d4e3eb;
}
#palco .coluna_dir .label_text .descricao {
  top: -2px;
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 8px;
  color: #6d00ad;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .label_text .info {
  display: block;
  float: left;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 3px;
  left: 42px;
  z-index: 2;
}
#palco .coluna_dir .label_text .hand {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  width: 15px;
  height: 15px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .label_text .edit {
  display: block;
  top: 3px;
  left: 22px;
  float: left;
  position: absolute;
  width: 17px;
  height: 18px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .label_text .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .file_input {
  position: relative;
  float: left;
  height: 34px;
  margin: 3px;
  width: 200px;
  overflow: hidden;
  background-color: #bff400;
  border: dotted 2px #437900;
  padding-bottom: 20px;
}
#palco .coluna_dir .file_input .botaoupload {
  position: relative;
  float: right;
  top: 7px;
  width: 116px;
  height: 12px;
  text-align: center;
  padding: 13px 0px;
  margin: 3px;
  background-color: rgba(73, 124, 191, 0.26);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-family: Myriad Pro Light;
  font-style: normal;
  font-weight: 100;
  color: #d4e3eb;
}
#palco .coluna_dir .file_input .descricao {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #f02c8d;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .file_input .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
  z-index: 2;
}
#palco .coluna_dir .file_input .hand {
  display: block;
  margin: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .file_input .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
  z-index: 2;
}
#palco .coluna_dir .file_input .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .RadioBoxModel {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 200px;
  overflow: hidden;
  background-color: #efcbd9;
  border: dotted 2px #f02c8d;
}
#palco .coluna_dir .RadioBoxModel .descricao {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #f02c8d;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .RadioBoxModel .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
  z-index: 2;
}
#palco .coluna_dir .RadioBoxModel .hand {
  display: block;
  margin: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .RadioBoxModel .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
  z-index: 2;
}
#palco .coluna_dir .RadioBoxModel .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .checkboxModel {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 200px;
  max-height: 44px;
  overflow: hidden;
  background-color: #efe4cb;
  border: dotted 2px #d7ad76;
}
#palco .coluna_dir .checkboxModel .descricao {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #ba7034;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .checkboxModel .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
  z-index: 2;
}
#palco .coluna_dir .checkboxModel .hand {
  display: block;
  margin: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .checkboxModel .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
  z-index: 2;
}
#palco .coluna_dir .checkboxModel .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .multiple_select {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 200px;
  overflow: hidden;
  background-color: #cbefd2;
  border: dotted 2px #007959;
}
#palco .coluna_dir .multiple_select .descricao {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #007959;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .multiple_select .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
  z-index: 2;
}
#palco .coluna_dir .multiple_select .hand {
  display: block;
  margin: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .multiple_select .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
  z-index: 2;
}
#palco .coluna_dir .multiple_select .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .Selectbox {
  position: relative;
  float: left;
  height: 40px;
  margin: 3px;
  width: 200px;
  overflow: hidden;
  background-color: #cbefd2;
  border: dotted 2px #007959;
}
#palco .coluna_dir .Selectbox .descricao {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #007959;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .Selectbox .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
  z-index: 2;
}
#palco .coluna_dir .Selectbox .hand {
  display: block;
  margin: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .Selectbox .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
  z-index: 2;
}
#palco .coluna_dir .Selectbox .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .inputColorModel {
  position: relative;
  float: left;
  height: 34px;
  margin: 3px;
  width: 200px;
  overflow: hidden;
  background-color: #ff8a71;
  border: dotted 2px #b54200;
  padding-bottom: 6px;
}
#palco .coluna_dir .inputColorModel .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .inputColorModel .descricao {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 9px;
  color: #a43900;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .inputColorModel .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
  z-index: 2;
}
#palco .coluna_dir .inputColorModel .hand {
  display: block;
  margin: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .inputColorModel .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
  z-index: 2;
}
#palco .coluna_dir .inputTextModel {
  position: relative;
  float: left;
  height: 34px;
  margin: 3px;
  width: 200px;
  overflow: hidden;
  background-color: #ddcbef;
  border: dotted 2px #b983ec;
  padding-bottom: 6px;
}
#palco .coluna_dir .inputTextModel .close {
  background-size: 9px;
  float: right;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-image: url("./../../../img/cross-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}
#palco .coluna_dir .inputTextModel .descricao {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  padding-top: 14px;
  color: #a735c0;
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-width: 100px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#palco .coluna_dir .inputTextModel .info {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/information-italic.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 41px;
  z-index: 2;
}
#palco .coluna_dir .inputTextModel .hand {
  display: block;
  margin: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/arrow-out.png");
  background-repeat: no-repeat;
  cursor: move;
  top: 0px;
  z-index: 2;
}
#palco .coluna_dir .inputTextModel .edit {
  display: block;
  margin: 12px;
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("./../../../img/pencil.png");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0px;
  left: 20px;
  z-index: 2;
}
