	.ace-ambience .ace_gutter {
	    background-color: #3d3d3d;
	    background-image: -moz-linear-gradient(left, #3D3D3D, #333);
	    background-image: -ms-linear-gradient(left, #3D3D3D, #333);
	    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3D3D3D), to(#333));
	    background-image: -webkit-linear-gradient(left, #3D3D3D, #333);
	    background-image: -o-linear-gradient(left, #3D3D3D, #333);
	    background-image: linear-gradient(left, #3D3D3D, #333);
	    background-repeat: repeat-x;
	    border-right: 1px solid #4d4d4d;
	    text-shadow: 0px 1px 1px #4d4d4d;
	    color: #222;
	}
	.ace-ambience .ace_gutter-layer {
	    background: repeat left top;
	}
	.ace-ambience .ace_gutter-active-line {
	    background-color: #3F3F3F;
	}
	.ace-ambience .ace_fold-widget {
	    text-align: center;
	}
	.ace-ambience .ace_fold-widget:hover {
	    color: #777;
	}
	.ace-ambience .ace_fold-widget.ace_start,
	.ace-ambience .ace_fold-widget.ace_end,
	.ace-ambience .ace_fold-widget.ace_closed {
	    background: none;
	    border: none;
	    box-shadow: none;
	}
	.ace-ambiance .ace_fold-widget.ace_start:after {
	    content: 'u25be'
	}
	.ace-ambience .ace_fold-widget.ace_end:after {
	    content: 'u25b4'
	}
	.ace-ambience .ace_fold-widget.ace_closed:after {
	    content: 'u2023'
	}
	.ace-ambience .ace_print-margin {
	    border-left: 1px dotted #2D2D2D;
	    right: 0;
	    background: #262626;
	}
	.ace-ambience .ace_scroller {
	    -webkit-box-shadow: inset 0 0 10px black;
	    -moz-box-shadow: inset 0 0 10px black;
	    -o-box-shadow: inset 0 0 10px black;
	    box-shadow: inset 0 0 10px black;
	}
	.ace-ambience {
	    color: #E6E1DC;
	    background-color: #202020;
	}
	.ace-ambience .ace_cursor {
	    border-left: 1px solid #7991E8;
	}
	.ace-ambience .ace_overwrite-cursors .ace_cursor {
	    border: 1px solid #FFE300;
	    background: #766B13;
	}
	.ace-ambience.normal-mode .ace_cursor-layer {
	    z-index: 0;
	}
	.ace-ambience .ace_marker-layer .ace_selection {
	    background: rgba(221, 240, 255, 0.20);
	}
	.ace-ambience .ace_marker-layer .ace_selected-word {
	    border-radius: 4px;
	    border: 8px solid #3f475d;
	    box-shadow: 0 0 4px black;
	}
	.ace-ambience .ace_marker-layer .ace_step {
	    background: rgb(198, 219, 174);
	}
	.ace-ambience .ace_marker-layer .ace_bracket {
	    margin: -1px 0 0 -1px;
	    border: 1px solid rgba(255, 255, 255, 0.25);
	}
	.ace-ambience .ace_marker-layer .ace_active-line {
	    background: rgba(255, 255, 255, 0.031);
	}
	.ace-ambience .ace_invisible {
	    color: #333;
	}
	.ace-ambience .ace_paren {
	    color: #24C2C7;
	}
	.ace-ambience .ace_keyword {
	    color: #cda869;
	}
	.ace-ambience .ace_keyword.ace_operator {
	    color: #fa8d6a;
	}
	.ace-ambience .ace_punctuation.ace_operator {
	    color: #fa8d6a;
	}
	.ace-ambience .ace_identifier {} .ace-ambience .ace-statement {
	    color: #cda869;
	}
	.ace-ambience .ace_constant {
	    color: #CF7EA9;
	}
	.ace-ambience .ace_constant.ace_language {
	    color: #CF7EA9;
	}
	.ace-ambience .ace_constant.ace_library {} .ace-ambience .ace_constant.ace_numeric {
	    color: #78CF8A;
	}
	.ace-ambience .ace_invalid {
	    text-decoration: underline;
	}
	.ace-ambience .ace_invalid.ace_illegal {
	    color: #F8F8F8;
	    background-color: rgba(86, 45, 86, 0.75);
	}
	.ace-ambience .ace_invalid,
	.ace-ambience .ace_deprecated {
	    text-decoration: underline;
	    font-style: italic;
	    color: #D2A8A1;
	}
	.ace-ambience .ace_support {
	    color: #9B859D;
	}
	.ace-ambience .ace_support.ace_function {
	    color: #DAD085;
	}
	.ace-ambience .ace_function.ace_buildin {
	    color: #9b859d;
	}
	.ace-ambience .ace_string {
	    color: #8f9d6a;
	}
	.ace-ambience .ace_string.ace_regexp {
	    color: #DAD085;
	}
	.ace-ambience .ace_comment {
	    font-style: italic;
	    color: #555;
	}
	.ace-ambience .ace_comment.ace_doc {} .ace-ambience .ace_comment.ace_doc.ace_tag {
	    color: #666;
	    font-style: normal;
	}
	.ace-ambience .ace_definition,
	.ace-ambience .ace_type {
	    color: #aac6e3;
	}
	.ace-ambience .ace_variable {
	    color: #9999cc;
	}
	.ace-ambience .ace_variable.ace_language {
	    color: #9b859d;
	}
	.ace-ambience .ace_xml-pe {
	    color: #494949;
	}
	.ace-ambience .ace_line:has(span.ace_meta.ace_tag.ace_tag-name.ace_xml:contains("ws-tool")) {
	    background-color: #ff0055!important;
	    color: #ffed00!important;
	    font-weight: 900!important;
	}
	.ace-ambience .ace_line:has(span.ace_meta.ace_tag.ace_tag-name.ace_xml:contains("ws-tool")) .ace_string.ace_attribute-value.ace_xml {
	    color: #fff!important;
	}
	.ace-ambience .ace_line:has(span.ace_meta.ace_tag.ace_tag-name.ace_xml:contains("ws-tool")) .ace_keyword.ace_operator.ace_attribute-equals.ace_xml {
	    color: #fff!important
	}
	.ace-ambience .ace_line:has(.ace_text.ace_xml:contains("{{")) .ace_text.ace_xml:contains("{{") {
	    color: #000!important;
	    background-color: #ffc500;
	}