		*{margin:0;padding:0;}
			body{
				background: #FFF;
				overflow: hidden;
			}
			@-webkit-keyframes animacao {
				0% {
					background-position: 0 0;
				}
				100% {
					background-position: 50px 50px;
				}
			}
			@keyframes animacao {
				0% {
					background-position: 0 0;
				}
				100% {
					background-position: 50px 50px;
				}
			}
			.iframeBack{
				content: "";
				background-color: #98d6d7;
				background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
				background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
				-moz-background-size: 50px 50px;
				background-size: 50px 50px;
				overflow: hidden;			
				-webkit-animation: animacao 2s linear infinite;
				-moz-animation: animacao 2s linear infinite;
				-o-animation: animacao 2s linear infinite;
				animation: animacao 2s linear infinite;
			}
		.comboCentral{
			position: fixed;
			padding-bottom: 23px;
			width: 400px;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-color: #f1f4f9;
			border: 1px solid #abcad6;
			background-clip: padding-box;
			font-family: 'Titillium Web', sans-serif;
			font-style: normal;
			font-weight: 100;
			font-size: 16px;
			text-align: center;
		}
		.logo{
			font-family:'Titillium Web', sans-serif;
			font-style: normal;
			font-weight: 100;
			font-size: 20px;
			top: -10px;
			position: relative;
			color: #0073B9;
			text-align: center;
			padding-top: 20px;
		}
		.txt{
			position: relative;
			text-align: center;
			font-family: 'Titillium Web', sans-serif;
			font-style: normal;
			border-radius: 7px;
		}
		.txt b{
			font-family:'Titillium Web', sans-serif;
			font-style:normal;
			font-weight:400;

		}
		.password{
			padding: 10px;
			text-align: center;
			margin-top: 10px;
			margin-right: 10px;
			width: 320px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		.loader{
			position: absolute;
			float: left;
			width: calc(100% - 10px);
			height: 10px;
			top: 50px;
			border: solid 1px #0073b9;
			left: 50%;
			transform: translateX(-50%);
        }
		.botao:hover{
			background-color: #6393d2;
		}
		.botao{
			top: 7px;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 10px;
			position: relative;
			float: left;
			padding: 10px 70px;
			cursor: pointer;
			background-color: #497cbf;
			-webkit-border-radius: 7px;
			border-radius: 7px;
			font-family: 'Titillium Web', sans-serif;
			font-style: normal;
			font-weight: 400;
			color: #d4e3eb;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		#branches{
			padding: 10px;
			width: 100%;
		   -webkit-appearance: button;
		   -webkit-border-radius: 2px;
		   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		   -webkit-padding-end: 20px;
		   -webkit-padding-start: 2px;
		   -webkit-user-select: none;
		   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
		   background-position: 97% center;
		   background-repeat: no-repeat;
		   border: 1px solid #AAA;
		   color: #555;
		   font-size: inherit;
		   overflow: hidden;
		   padding: 5px 10px;
		   text-overflow: ellipsis;
		   white-space: nowrap;
		   width: 300px;
		}
		.version{
			position: relative;
			font-size: 14px;
			font-weight: 600;
			color: #7d7d7d;
		}
		#iframe{
			position: relative;
			width: calc(100% - 2px);
			height: 8px;
			border: 0;
			top: 1px;
			background-color: transparent;
			left: 1px;
			overflow: hidden;
       	}
       	.preloader{
			position: fixed;
			top: 50%;
			left: 50%;
			z-index: 1;
			transform: translate(-50%, -50%);
			display:none;
       	}