<meta charset="utf-8">
<div style="position: absolute;margin: 0;top: 0;left: 0;width: 100%;height: 100%;">
<div style="position: relative;margin: 0;background-color: #5471D5;padding: 10px;color: #FFF;font-family: Arial;">Recuperação de senha WebSheep</div>
<div style="color: #727272;font-family: Arial;font-size: 15px;padding: 10px;">
	Olá <b>__nome__</b>, tudo bem?<br>
	Seu login é: <b>__login__</b><br>
	Sua senha é: <b>__senha__</b><br><br><br>
	Atenciosamente;<br>
	Equipe <b>WebSheep </b><br>
	www.feats.com.br<br>
	suporte@feats.com.br
	</div>
</div>